In [1]:
import pandas as pd
import numpy as np

In [2]:
### Explore Nov 2019 updated and full files from HM Land Registry

In [25]:
rorig = pd.read_csv('CCOD_COU_2019_11.csv', skipfooter=1, 
                    dtype={'Company Registration No. (1)': str,
                           'Company Registration No. (2)': str,
                           'Company Registration No. (3)': str,
                           'Company Registration No. (4)': str})

print(rorig.shape)
rorig.head()

C:\Users\liamk\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  """

(63745, 37)

,Title Number,Tenure,Property Address,District,County,Region,Postcode,Multiple Address Indicator,Price Paid,Proprietor Name (1),...,Proprietor Name (4),Company Registration No. (4),Proprietorship Category (4),Proprietor (4) Address (1),Proprietor (4) Address (2),Proprietor (4) Address (3),Date Proprietor Added,Additional Proprietor Indicator,Change Indicator,Change Date
0,NT72787,Freehold,"2 Horsham Drive, Top Valley (NG5 9AH)",CITY OF NOTTINGHAM,CITY OF NOTTINGHAM,EAST MIDLANDS,NG5 9AH,N,30000.0,PLACES FOR PEOPLE HOMES LIMITED,...,NaN,NaN,NaN,NaN,NaN,NaN,06-02-1995,N,D,01-11-2019
1,LT25408,Freehold,"98-100 Melton Road, Leicester (LE4 5EB)",LEICESTER,LEICESTER,EAST MIDLANDS,LE4 5EB,N,NaN,JADEMARK LIMITED,...,NaN,NaN,NaN,NaN,NaN,NaN,11-03-2004,N,D,01-11-2019
2,P183436,Freehold,"81 Queen Street, Barry (CF62 7EE)",THE VALE OF GLAMORGAN,THE VALE OF GLAMORGAN,WALES,CF62 7EE,N,NaN,HURSTON REAL ESTATE LIMITED,...,NaN,NaN,NaN,NaN,NaN,NaN,17-09-2019,N,D,01-11-2019
3,PM26295,Freehold,"Flats 1-16, 2 East Shore Way, Portsmouth (PO3 ...",PORTSMOUTH,PORTSMOUTH,SOUTH EAST,PO3 6GD,N,NaN,JLPPT HOLDCO 6 LIMITED,...,NaN,NaN,NaN,NaN,NaN,NaN,25-01-2018,N,D,01-11-2019
4,LN44425,Freehold,"10 St James's Place, London (SW1A 1NP)",CITY OF WESTMINSTER,GREATER LONDON,GREATER LONDON,SW1A 1NP,N,5500000.0,BEST DRESSED GROUP LIMITED,...,NaN,NaN,NaN,NaN,NaN,NaN,03-03-2016,N,D,01-11-2019

In [26]:
print(rorig.iloc[0, :])

Title Number                                                                 NT72787
Tenure                                                                      Freehold
Property Address                               2 Horsham Drive, Top Valley (NG5 9AH)
District                                                          CITY OF NOTTINGHAM
County                                                            CITY OF NOTTINGHAM
Region                                                                 EAST MIDLANDS
Postcode                                                                     NG5 9AH
Multiple Address Indicator                                                         N
Price Paid                                                                     30000
Proprietor Name (1)                                  PLACES FOR PEOPLE HOMES LIMITED
Company Registration No. (1)                                                IP19447R
Proprietorship Category (1)               Industrial and Provident Society (Company)
Proprietor (1) Address (1)                             80 Cheapside, London EC2V 6EE
Proprietor (1) Address (2)         4 The Pavilions, Ashton-on-Ribble, Preston PR2...
Proprietor (1) Address (3)                                                       NaN
Proprietor Name (2)                                                              NaN
Company Registration No. (2)                                                     NaN
Proprietorship Category (2)                                                      NaN
Proprietor (2) Address (1)                                                       NaN
Proprietor (2) Address (2)                                                       NaN
Proprietor (2) Address (3)                                                       NaN
Proprietor Name (3)                                                              NaN
Company Registration No. (3)                                                     NaN
Proprietorship Category (3)                                                      NaN
Proprietor (3) Address (1)                                                       NaN
Proprietor (3) Address (2)                                                       NaN
Proprietor (3) Address (3)                                                       NaN
Proprietor Name (4)                                                              NaN
Company Registration No. (4)                                                     NaN
Proprietorship Category (4)                                                      NaN
Proprietor (4) Address (1)                                                       NaN
Proprietor (4) Address (2)                                                       NaN
Proprietor (4) Address (3)                                                       NaN
Date Proprietor Added                                                     06-02-1995
Additional Proprietor Indicator                                                    N
Change Indicator                                                                   D
Change Date                                                               01-11-2019
Name: 0, dtype: object

In [12]:
rorig.info(null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63746 entries, 0 to 63745
Data columns (total 37 columns):
Title Number                       63746 non-null object
Tenure                             63746 non-null object
Property Address                   63716 non-null object
District                           63745 non-null object
County                             63745 non-null object
Region                             63745 non-null object
Postcode                           48816 non-null object
Multiple Address Indicator         63745 non-null object
Price Paid                         15991 non-null float64
Proprietor Name (1)                63745 non-null object
Company Registration No. (1)       59444 non-null object
Proprietorship Category (1)        63745 non-null object
Proprietor (1) Address (1)         63744 non-null object
Proprietor (1) Address (2)         5400 non-null object
Proprietor (1) Address (3)         369 non-null object
Proprietor Name (2)                1572 non-null object
Company Registration No. (2)       1552 non-null object
Proprietorship Category (2)        1572 non-null object
Proprietor (2) Address (1)         1572 non-null object
Proprietor (2) Address (2)         133 non-null object
Proprietor (2) Address (3)         9 non-null object
Proprietor Name (3)                36 non-null object
Company Registration No. (3)       35 non-null float64
Proprietorship Category (3)        36 non-null object
Proprietor (3) Address (1)         36 non-null object
Proprietor (3) Address (2)         0 non-null float64
Proprietor (3) Address (3)         0 non-null float64
Proprietor Name (4)                10 non-null object
Company Registration No. (4)       10 non-null float64
Proprietorship Category (4)        10 non-null object
Proprietor (4) Address (1)         10 non-null object
Proprietor (4) Address (2)         0 non-null float64
Proprietor (4) Address (3)         0 non-null float64
Date Proprietor Added              63341 non-null object
Additional Proprietor Indicator    63745 non-null object
Change Indicator                   63745 non-null object
Change Date                        63745 non-null object
dtypes: float64(7), object(30)
memory usage: 18.0+ MB

In [23]:
rorig[rorig['Proprietor Name (1)'].isnull()]

,Title Number,Tenure,Property Address,District,County,Region,Postcode,Multiple Address Indicator,Price Paid,Proprietor Name (1),...,Proprietor Name (4),Company Registration No. (4),Proprietorship Category (4),Proprietor (4) Address (1),Proprietor (4) Address (2),Proprietor (4) Address (3),Date Proprietor Added,Additional Proprietor Indicator,Change Indicator,Change Date
63745,Row Count:,63745,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
print(rorig[rorig['Proprietor Name (4)'].isnull() == False].iloc[8, :])

Title Number                                                         NK236714
Tenure                                                               Freehold
Property Address                   10 Market Hill, Diss and garage (IP22 4WJ)
District                                                        SOUTH NORFOLK
County                                                                NORFOLK
Region                                                            EAST ANGLIA
Postcode                                                             IP22 4WJ
Multiple Address Indicator                                                  N
Price Paid                                                                NaN
Proprietor Name (1)                                            THRUMS LIMITED
Company Registration No. (1)                                         07549226
Proprietorship Category (1)         Limited Company or Public Limited Company
Proprietor (1) Address (1)                      10 Market Hill, Diss IP22 4WJ
Proprietor (1) Address (2)                                                NaN
Proprietor (1) Address (3)                                                NaN
Proprietor Name (2)                                  VIVEASH PROPERTY LIMITED
Company Registration No. (2)                                         07549935
Proprietorship Category (2)         Limited Company or Public Limited Company
Proprietor (2) Address (1)                      10 Market Hill, Diss IP22 4WJ
Proprietor (2) Address (2)                                                NaN
Proprietor (2) Address (3)                                                NaN
Proprietor Name (3)                                       CROWNTHORPE LIMITED
Company Registration No. (3)                                         07790296
Proprietorship Category (3)         Limited Company or Public Limited Company
Proprietor (3) Address (1)                      10 Market Hill, Diss IP22 4WJ
Proprietor (3) Address (2)                                                NaN
Proprietor (3) Address (3)                                                NaN
Proprietor Name (4)                                        M B SARSON LIMITED
Company Registration No. (4)                                         07549391
Proprietorship Category (4)         Limited Company or Public Limited Company
Proprietor (4) Address (1)                      10 Market Hill, Diss IP22 4WJ
Proprietor (4) Address (2)                                                NaN
Proprietor (4) Address (3)                                                NaN
Date Proprietor Added                                              04-09-2019
Additional Proprietor Indicator                                             N
Change Indicator                                                            A
Change Date                                                        01-11-2019
Name: 43443, dtype: object

In [10]:
rorig['Multiple Address Indicator'].value_counts()

N    63461
Y      284
Name: Multiple Address Indicator, dtype: int64

In [28]:
rorig['Change Date'].value_counts()

01-11-2019    63745
Name: Change Date, dtype: int64

In [52]:
# Indicates the title has a Property Schedule and therefore more than one address.
rorig[rorig['Multiple Address Indicator'] == 'Y'].head(2)

,Title Number,Tenure,Property Address,District,County,Region,Postcode,Multiple Address Indicator,Price Paid,Proprietor Name (1),...,Proprietor Name (4),Company Registration No. (4),Proprietorship Category (4),Proprietor (4) Address (1),Proprietor (4) Address (2),Proprietor (4) Address (3),Date Proprietor Added,Additional Proprietor Indicator,Change Indicator,Change Date
97,HD208823,Leasehold,"EDEN BRIDGE TOYOTA ICKNIELD WAY, LETCHWORTH GA...",NORTH HERTFORDSHIRE,HERTFORDSHIRE,SOUTH EAST,SG6 1EF,Y,NaN,EDEN BRIDGE CARRIAGE LIMITED,...,NaN,NaN,NaN,NaN,NaN,NaN,11-10-2005,N,D,01-11-2019
119,218477,Freehold,"131 FONTHILL ROAD, LONDON N4 3HH",ISLINGTON,GREATER LONDON,GREATER LONDON,N4 3HH,Y,NaN,DAWNELIA PROPERTIES LIMITED,...,NaN,NaN,NaN,NaN,NaN,NaN,21-12-1995,N,D,01-11-2019

In [55]:
rorig[rorig['Title Number'] == 'HD208823']

,Title Number,Tenure,Property Address,District,County,Region,Postcode,Multiple Address Indicator,Price Paid,Proprietor Name (1),...,Proprietor Name (4),Company Registration No. (4),Proprietorship Category (4),Proprietor (4) Address (1),Proprietor (4) Address (2),Proprietor (4) Address (3),Date Proprietor Added,Additional Proprietor Indicator,Change Indicator,Change Date
97,HD208823,Leasehold,"EDEN BRIDGE TOYOTA ICKNIELD WAY, LETCHWORTH GA...",NORTH HERTFORDSHIRE,HERTFORDSHIRE,SOUTH EAST,SG6 1EF,Y,NaN,EDEN BRIDGE CARRIAGE LIMITED,...,NaN,NaN,NaN,NaN,NaN,NaN,11-10-2005,N,D,01-11-2019
43190,HD208823,Leasehold,"EDEN BRIDGE TOYOTA ICKNIELD WAY, LETCHWORTH GA...",NORTH HERTFORDSHIRE,HERTFORDSHIRE,SOUTH EAST,SG6 1EF,Y,1907500.0,EDEN BRIDGE CARRIAGE LIMITED,...,NaN,NaN,NaN,NaN,NaN,NaN,11-10-2005,N,A,01-11-2019

In [9]:
len(rorig.District.unique())

340

In [36]:
print(rorig.columns)

Index(['Title Number', 'Tenure', 'Property Address', 'District', 'County',
       'Region', 'Postcode', 'Multiple Address Indicator', 'Price Paid',
       'Proprietor Name (1)', 'Company Registration No. (1)',
       'Proprietorship Category (1)', 'Proprietor (1) Address (1)',
       'Proprietor (1) Address (2)', 'Proprietor (1) Address (3)',
       'Proprietor Name (2)', 'Company Registration No. (2)',
       'Proprietorship Category (2)', 'Proprietor (2) Address (1)',
       'Proprietor (2) Address (2)', 'Proprietor (2) Address (3)',
       'Proprietor Name (3)', 'Company Registration No. (3)',
       'Proprietorship Category (3)', 'Proprietor (3) Address (1)',
       'Proprietor (3) Address (2)', 'Proprietor (3) Address (3)',
       'Proprietor Name (4)', 'Company Registration No. (4)',
       'Proprietorship Category (4)', 'Proprietor (4) Address (1)',
       'Proprietor (4) Address (2)', 'Proprietor (4) Address (3)',
       'Date Proprietor Added', 'Additional Proprietor Indicator',
       'Change Indicator', 'Change Date'],
      dtype='object')

In [42]:
# FULL is missing columns 'Change Indicator', 'Change Date'

norig = pd.read_csv('CCOD_FULL_2019_11.csv',
                    skipfooter=1, 
                    dtype={'Company Registration No. (1)': str,
                           'Company Registration No. (2)': str,
                           'Company Registration No. (3)': str,
                           'Company Registration No. (4)': str})

print(norig.shape)
norig.head()

C:\Users\liamk\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.

(3713107, 35)

,Title Number,Tenure,Property Address,District,County,Region,Postcode,Multiple Address Indicator,Price Paid,Proprietor Name (1),...,Proprietor (3) Address (2),Proprietor (3) Address (3),Proprietor Name (4),Company Registration No. (4),Proprietorship Category (4),Proprietor (4) Address (1),Proprietor (4) Address (2),Proprietor (4) Address (3),Date Proprietor Added,Additional Proprietor Indicator
0,18360,Freehold,"Langley Farm, Beech Tree Road, Holmer Green, H...",CHILTERN,BUCKINGHAMSHIRE,SOUTH EAST,HP15 6UZ,N,NaN,BUCKINGHAMSHIRE COUNTY COUNCIL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,06-07-2015,N
1,18402,Freehold,"17 Tolroy Road, St Erth Praze, Hayle (TR27 6EA)",CORNWALL,CORNWALL,SOUTH WEST,TR27 6EA,N,NaN,THE CORNWALL COUNCIL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,01-05-2009,N
2,18481,Freehold,"land at Leighton Brook, Off Middlewich Road, L...",CHESHIRE EAST,CHESHIRE EAST,NORTH WEST,NaN,N,NaN,CHESHIRE EAST BOROUGH COUNCIL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27-04-2009,N
3,18665,Freehold,"Wellfield Farm, Sherborne Road, Sherborne St J...",BASINGSTOKE AND DEANE,HAMPSHIRE,SOUTH EAST,RG24 9LP,N,NaN,HAMPSHIRE COUNTY COUNCIL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,06-06-2006,N
4,18747,Freehold,"Land adjoining Haulfryn, Meifod",POWYS,POWYS,WALES,NaN,N,NaN,THE COUNTY COUNCIL OF THE ADMINISTRATIVE COUNT...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30-01-1920,N

In [43]:
norig.info(null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3713107 entries, 0 to 3713106
Data columns (total 35 columns):
Title Number                       3713107 non-null object
Tenure                             3713107 non-null object
Property Address                   3712687 non-null object
District                           3713107 non-null object
County                             3713107 non-null object
Region                             3713107 non-null object
Postcode                           2113207 non-null object
Multiple Address Indicator         3713107 non-null object
Price Paid                         544523 non-null float64
Proprietor Name (1)                3713107 non-null object
Company Registration No. (1)       2719060 non-null object
Proprietorship Category (1)        3713107 non-null object
Proprietor (1) Address (1)         3713083 non-null object
Proprietor (1) Address (2)         343649 non-null object
Proprietor (1) Address (3)         29806 non-null object
Proprietor Name (2)                34106 non-null object
Company Registration No. (2)       32599 non-null object
Proprietorship Category (2)        34106 non-null object
Proprietor (2) Address (1)         34106 non-null object
Proprietor (2) Address (2)         4410 non-null object
Proprietor (2) Address (3)         360 non-null object
Proprietor Name (3)                841 non-null object
Company Registration No. (3)       690 non-null object
Proprietorship Category (3)        841 non-null object
Proprietor (3) Address (1)         841 non-null object
Proprietor (3) Address (2)         72 non-null object
Proprietor (3) Address (3)         3 non-null object
Proprietor Name (4)                222 non-null object
Company Registration No. (4)       192 non-null object
Proprietorship Category (4)        222 non-null object
Proprietor (4) Address (1)         222 non-null object
Proprietor (4) Address (2)         8 non-null object
Proprietor (4) Address (3)         0 non-null float64
Date Proprietor Added              3644235 non-null object
Additional Proprietor Indicator    3713107 non-null object
dtypes: float64(2), object(33)
memory usage: 991.5+ MB

In [44]:
norig.Region.value_counts()

SOUTH EAST          739405
GREATER LONDON      553280
NORTH WEST          543881
SOUTH WEST          357272
WEST MIDLANDS       329462
YORKS AND HUMBER    327221
EAST MIDLANDS       269323
WALES               216575
NORTH               195985
EAST ANGLIA         180703
Name: Region, dtype: int64

In [48]:
print(len(norig.County.value_counts()))
norig.County.value_counts()[:10]

111

GREATER LONDON        553280
GREATER MANCHESTER    227154
WEST MIDLANDS         142922
WEST YORKSHIRE        121356
LANCASHIRE            100753
MERSEYSIDE             99642
KENT                   97339
SOUTH YORKSHIRE        85192
ESSEX                  82997
SURREY                 74505
Name: County, dtype: int64

In [49]:
print(len(norig.District.value_counts()))
norig.District.value_counts()[:10]

339

BIRMINGHAM             53824
LEEDS                  43866
LIVERPOOL              43203
CITY OF BRISTOL        39227
SHEFFIELD              38705
CITY OF WESTMINSTER    37456
MANCHESTER             37326
CORNWALL               37100
COUNTY DURHAM          33656
CHESHIRE EAST          32622
Name: District, dtype: int64

In [50]:
2113207/len(oorig)

0.5816846999703819