In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
### Explore and merge Salary data to NAtional Student Survey data

In [2]:
aorig = pd.read_csv('he_choose_detail.csv', header=0, index_col=0)

print(aorig.shape)
aorig.head()

(66177, 9)

,UKPRN,Provider,Subject Code,Subject,Level,Question Number,Actual value,Response,Country
0,10007783,University of Aberdeen,CAH01-01-02,Medicine (non-specific),First degree,Scale01,0.9394,99,Scotland
1,10007783,University of Aberdeen,CAH01-01-02,Medicine (non-specific),First degree,Scale02,0.9158,99,Scotland
2,10007783,University of Aberdeen,CAH01-01-02,Medicine (non-specific),First degree,Scale03,0.6944,99,Scotland
3,10007783,University of Aberdeen,CAH01-01-02,Medicine (non-specific),First degree,Scale04,0.8838,99,Scotland
4,10007783,University of Aberdeen,CAH01-01-02,Medicine (non-specific),First degree,Scale05,0.8636,99,Scotland

## Explore EMP dataset

In [3]:
eorig = pd.read_csv('Unistats/EMPLOYMENT.csv', header=0)

print(eorig.shape)
eorig.head()

(47994, 15)

,PUBUKPRN,UKPRN,KISCOURSEID,KISMODE,EMPUNAVAILREASON,EMPPOP,EMPRESP_RATE,EMPAGG,EMPSBJ,WORKSTUDY,STUDY,ASSUNEMP,BOTH,NOAVAIL,WORK
0,10000047,10001143,PSSFDOPTDIS,1,0,20.0,70.0,14.0,NaN,100.0,40.0,0.0,35.0,0.0,30.0
1,10000055,10000055,AB20,1,0,15.0,100.0,14.0,NaN,95.0,80.0,5.0,5.0,0.0,5.0
2,10000055,10000055,AB27,1,1,20.0,88.0,13.0,CAH06-01-01,100.0,15.0,0.0,10.0,0.0,75.0
3,10000055,10000055,AB28,1,0,20.0,90.0,24.0,NaN,100.0,30.0,0.0,40.0,0.0,35.0
4,10000055,10000055,AB29,1,0,20.0,91.0,22.0,CAH10-01,100.0,35.0,0.0,40.0,0.0,30.0

In [4]:
aorig[aorig['Subject Code'] == 'CAH06-01-01']['Subject'].unique()

array(['Animal science'], dtype=object)

In [5]:
aorig[aorig['Subject Code'].str.contains('CAH10-01')]['Subject'].unique()

array(['Mechanical engineering', 'Civil engineering',
       'Electrical and electronic engineering',
       'Chemical, process and energy engineering',
       'Production and manufacturing engineering',
       'Bioengineering, medical and biomedical engineering',
       'Engineering (non-specific)',
       'Aeronautical and aerospace engineering'], dtype=object)

In [6]:
eorig = eorig[eorig.EMPSBJ.isnull() == False]
print(eorig.shape)

(34070, 15)

In [7]:
eorig[eorig.EMPSBJ.str.contains('CAH10-01')].EMPSBJ.unique()

array(['CAH10-01', 'CAH10-01-08', 'CAH10-01-02', 'CAH10-01-07',
       'CAH10-01-03', 'CAH10-01-01', 'CAH10-01-04', 'CAH10-01-09',
       'CAH10-01-05', 'CAH10-01-06'], dtype=object)

In [8]:
# EMPPOP - Number of students in the population from which the employment data is derived for the course
# EMPRESP_RATE - Response rate of students in the population from which the employment data is derived for the course
# EMPAGG - unclear; skip
# EMPSBJ - for matching
# WORK - important; Proportion of students in work six months after their course ended
# ASSUNEMP - flip for most unemployed
eorig[eorig.EMPSBJ == 'CAH10-01-08'].iloc[0,:]

PUBUKPRN               10000291
UKPRN                  10000291
KISCOURSEID              K00033
KISMODE                       1
EMPUNAVAILREASON              0
EMPPOP                       15
EMPRESP_RATE                 80
EMPAGG                       23
EMPSBJ              CAH10-01-08
WORKSTUDY                    70
STUDY                        20
ASSUNEMP                     20
BOTH                          0
NOAVAIL                       5
WORK                         50
Name: 54, dtype: object

In [9]:
eorig.describe()

,PUBUKPRN,UKPRN,KISMODE,EMPUNAVAILREASON,EMPPOP,EMPRESP_RATE,EMPAGG,WORKSTUDY,STUDY,ASSUNEMP,BOTH,NOAVAIL,WORK
count,3.407000e+04,3.407000e+04,34070.000000,34070.000000,34070.000000,34070.000000,34070.000000,34070.000000,34070.000000,34070.000000,34070.000000,34070.000000,34070.000000
mean,1.002547e+07,1.002543e+07,1.082213,0.645847,71.314910,76.975345,14.714001,88.988436,20.630320,6.114206,6.130114,5.053566,62.215996
std,1.289841e+06,1.289841e+06,0.274693,0.478263,118.639039,6.981396,4.036143,7.445674,13.412842,5.054799,5.921602,5.412762,15.587064
min,1.000006e+07,1.000006e+07,1.000000,0.000000,10.000000,60.000000,11.000000,20.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000684e+07,1.000684e+07,1.000000,0.000000,20.000000,71.000000,13.000000,85.000000,10.000000,3.000000,2.000000,1.000000,53.000000
50%,1.000717e+07,1.000717e+07,1.000000,1.000000,40.000000,75.000000,13.000000,90.000000,20.000000,5.000000,5.000000,5.000000,64.000000
75%,1.000780e+07,1.000780e+07,1.000000,1.000000,85.000000,80.000000,13.000000,95.000000,28.000000,10.000000,10.000000,6.000000,73.000000
max,1.000000e+08,1.000000e+08,2.000000,1.000000,2335.000000,100.000000,23.000000,100.000000,100.000000,60.000000,98.000000,80.000000,100.000000

In [10]:
eorig.EMPAGG.value_counts()

13.0    20458
12.0     5382
23.0     5101
11.0     1344
22.0     1176
21.0      609
Name: EMPAGG, dtype: int64

In [11]:
# check KISCOURSEID
eorig[eorig.EMPSBJ == 'CAH10-01-08']

,PUBUKPRN,UKPRN,KISCOURSEID,KISMODE,EMPUNAVAILREASON,EMPPOP,EMPRESP_RATE,EMPAGG,EMPSBJ,WORKSTUDY,STUDY,ASSUNEMP,BOTH,NOAVAIL,WORK
54,10000291,10000291,K00033,1,0,15.0,80.0,23.0,CAH10-01-08,70.0,20.0,20.0,0.0,5.0,50.0
90,10000291,10000291,K00101,1,1,15.0,80.0,23.0,CAH10-01-08,70.0,20.0,20.0,0.0,5.0,50.0
1318,10000747,10000747,ST2523C16,1,1,10.0,69.0,23.0,CAH10-01-08,100.0,25.0,0.0,0.0,0.0,75.0
1409,10000820,10000820,ED18_DP_PT,2,1,15.0,67.0,13.0,CAH10-01-08,95.0,5.0,0.0,20.0,5.0,65.0
1410,10000820,10000820,ED18_FD_PT,2,1,15.0,67.0,13.0,CAH10-01-08,95.0,5.0,0.0,20.0,5.0,65.0
1596,10000840,10000840,WBAH5001B,2,0,35.0,67.0,23.0,CAH10-01-08,100.0,15.0,0.0,20.0,0.0,70.0
1708,10000886,10000886,J4CA003MUU,1,0,10.0,100.0,13.0,CAH10-01-08,80.0,10.0,20.0,0.0,0.0,75.0
1712,10000886,10000886,J4ED003MUU,1,1,10.0,100.0,13.0,CAH10-01-08,80.0,10.0,20.0,0.0,0.0,75.0
1713,10000886,10000886,J4ED004MUU,1,0,10.0,100.0,13.0,CAH10-01-08,80.0,10.0,20.0,0.0,0.0,75.0
1769,10000886,10000886,P1CA001MUU,1,0,10.0,100.0,13.0,CAH10-01-08,80.0,10.0,20.0,0.0,0.0,75.0
1773,10000886,10000886,P1ED001MUU,1,0,10.0,100.0,13.0,CAH10-01-08,80.0,10.0,20.0,0.0,0.0,75.0
1817,10000886,10000886,P8ED004MUU,1,0,10.0,100.0,13.0,CAH10-01-08,80.0,10.0,20.0,0.0,0.0,75.0
1976,10000961,10000961,H600UCOMPSEN-FT-MENG,1,0,30.0,95.0,13.0,CAH10-01-08,80.0,10.0,15.0,0.0,5.0,65.0
1977,10000961,10000961,H600UCOMPSEN-KW-MENG,1,1,30.0,95.0,13.0,CAH10-01-08,80.0,10.0,15.0,0.0,5.0,65.0
1979,10000961,10000961,H600UEEENG-KW-BENG,1,0,30.0,95.0,13.0,CAH10-01-08,80.0,10.0,15.0,0.0,5.0,65.0
1980,10000961,10000961,H600UELACOMP-FT-MENG,1,1,30.0,95.0,13.0,CAH10-01-08,80.0,10.0,15.0,0.0,5.0,65.0
1981,10000961,10000961,H600UELACOMP-KW-MENG,1,0,30.0,95.0,13.0,CAH10-01-08,80.0,10.0,15.0,0.0,5.0,65.0
1983,10000961,10000961,H600UELECAEL-KW-MENG,1,0,30.0,95.0,13.0,CAH10-01-08,80.0,10.0,15.0,0.0,5.0,65.0
1984,10000961,10000961,H610UELCOMPE-FT-BENG,1,0,30.0,95.0,13.0,CAH10-01-08,80.0,10.0,15.0,0.0,5.0,65.0
1985,10000961,10000961,H610UELCOMPE-KW-BENG,1,0,30.0,95.0,13.0,CAH10-01-08,80.0,10.0,15.0,0.0,5.0,65.0
1986,10000961,10000961,H630UELENSPS-FT-MENG,1,1,30.0,95.0,13.0,CAH10-01-08,80.0,10.0,15.0,0.0,5.0,65.0
1987,10000961,10000961,H630UELENSPS-KW-MENG,1,1,30.0,95.0,13.0,CAH10-01-08,80.0,10.0,15.0,0.0,5.0,65.0
1988,10000961,10000961,H640UEELCMEN-FT-BENG,1,1,30.0,95.0,13.0,CAH10-01-08,80.0,10.0,15.0,0.0,5.0,65.0
1989,10000961,10000961,H640UEELCMEN-KW-BENG,1,1,30.0,95.0,13.0,CAH10-01-08,80.0,10.0,15.0,0.0,5.0,65.0
1990,10000961,10000961,H640UMELCMEN-FT-MENG,1,1,30.0,95.0,13.0,CAH10-01-08,80.0,10.0,15.0,0.0,5.0,65.0
1991,10000961,10000961,H640UMELCMEN-KW-MENG,1,1,30.0,95.0,13.0,CAH10-01-08,80.0,10.0,15.0,0.0,5.0,65.0
2000,10000961,10000961,H900UECSE-FT-BENG,1,0,30.0,95.0,13.0,CAH10-01-08,80.0,10.0,15.0,0.0,5.0,65.0
2001,10000961,10000961,H900UECSE-KW-BENG,1,0,30.0,95.0,13.0,CAH10-01-08,80.0,10.0,15.0,0.0,5.0,65.0
3493,10001282,10001282,21SELN-N-ELN1,1,1,30.0,75.0,13.0,CAH10-01-08,90.0,15.0,5.0,5.0,5.0,70.0
3494,10001282,10001282,21SELZ-N-ELZ1,1,1,30.0,75.0,13.0,CAH10-01-08,90.0,15.0,5.0,5.0,5.0,70.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42530,10007850,10007850,UUUT1-H761~UEME-AFM48,1,1,35.0,75.0,13.0,CAH10-01-08,95.0,0.0,5.0,0.0,5.0,90.0
42532,10007850,10007850,UUUT1-H762~UEME-AKM48,1,1,35.0,75.0,13.0,CAH10-01-08,95.0,0.0,5.0,0.0,5.0,90.0
43593,10007851,10007851,H5483,1,0,20.0,75.0,13.0,CAH10-01-08,90.0,20.0,5.0,0.0,5.0,70.0
43594,10007851,10007851,H5483,2,1,20.0,65.0,23.0,CAH10-01-08,100.0,0.0,0.0,20.0,0.0,80.0
43595,10007851,10007851,H5483F,1,1,20.0,75.0,13.0,CAH10-01-08,90.0,20.0,5.0,0.0,5.0,70.0
43597,10007851,10007851,H6003F,1,1,20.0,75.0,13.0,CAH10-01-08,90.0,20.0,5.0,0.0,5.0,70.0
43598,10007851,10007851,H602P,1,0,20.0,75.0,13.0,CAH10-01-08,90.0,20.0,5.0,0.0,5.0,70.0
43602,10007851,10007851,HJ39,2,0,20.0,65.0,23.0,CAH10-01-08,100.0,0.0,0.0,20.0,0.0,80.0
44143,10007851,10007851,UH6AI3,1,1,20.0,75.0,13.0,CAH10-01-08,90.0,20.0,5.0,0.0,5.0,70.0
44144,10007851,10007851,UH6AI3F,1,1,20.0,75.0,13.0,CAH10-01-08,90.0,20.0,5.0,0.0,5.0,70.0
44789,10007855,10007855,BEHE4FXFEEES,1,0,20.0,80.0,13.0,CAH10-01-08,80.0,5.0,5.0,10.0,15.0,60.0
44797,10007855,10007855,BEHE4XIIEEES,1,0,20.0,80.0,13.0,CAH10-01-08,80.0,5.0,5.0,10.0,15.0,60.0
44804,10007855,10007855,BEHE4XSSEEES,1,0,20.0,80.0,13.0,CAH10-01-08,80.0,5.0,5.0,10.0,15.0,60.0
45005,10007855,10007855,MEHE4XX4EEES,1,0,20.0,80.0,13.0,CAH10-01-08,80.0,5.0,5.0,10.0,15.0,60.0
45012,10007855,10007855,MEHE5SINEEES,1,0,20.0,80.0,13.0,CAH10-01-08,80.0,5.0,5.0,10.0,15.0,60.0
45019,10007855,10007855,MEHE5XS5EEES,1,1,20.0,80.0,13.0,CAH10-01-08,80.0,5.0,5.0,10.0,15.0,60.0
45950,10007857,10007857,BA_MEE,1,1,30.0,80.0,13.0,CAH10-01-08,90.0,20.0,5.0,0.0,5.0,70.0
46121,10007857,10007857,BENG_CSE,1,0,30.0,80.0,13.0,CAH10-01-08,90.0,20.0,5.0,0.0,5.0,70.0
46157,10007857,10007857,BSC_CSENG,1,0,30.0,80.0,13.0,CAH10-01-08,90.0,20.0,5.0,0.0,5.0,70.0
46170,10007857,10007857,BSC_EEM,1,1,30.0,80.0,13.0,CAH10-01-08,90.0,20.0,5.0,0.0,5.0,70.0
46172,10007857,10007857,BSC_ELE,1,0,30.0,80.0,13.0,CAH10-01-08,90.0,20.0,5.0,0.0,5.0,70.0
46252,10007857,10007857,MENG_CIE,1,1,30.0,80.0,13.0,CAH10-01-08,90.0,20.0,5.0,0.0,5.0,70.0
46253,10007857,10007857,MENG_CRSEN,1,1,30.0,80.0,13.0,CAH10-01-08,90.0,20.0,5.0,0.0,5.0,70.0
46254,10007857,10007857,MENG_CSE,1,0,30.0,80.0,13.0,CAH10-01-08,90.0,20.0,5.0,0.0,5.0,70.0
46833,10007977,10007977,EEN-DG5,2,0,15.0,65.0,13.0,CAH10-01-08,90.0,0.0,5.0,5.0,5.0,80.0
46987,10008914,10007793,JFDP008CYCN,2,0,15.0,70.0,23.0,CAH10-01-08,100.0,0.0,0.0,10.0,0.0,90.0
47208,10015506,10015506,HNCEEEngFTRQF,1,1,15.0,100.0,13.0,CAH10-01-08,90.0,20.0,5.0,25.0,5.0,45.0
47209,10015506,10015506,HNCEEEngFTRQF,2,1,15.0,70.0,23.0,CAH10-01-08,100.0,30.0,0.0,15.0,0.0,55.0
47222,10015506,10015506,HNDEEEngFTRQF,1,1,15.0,100.0,13.0,CAH10-01-08,90.0,20.0,5.0,25.0,5.0,45.0
47223,10015506,10015506,HNDEEEngFTRQF,2,1,15.0,70.0,23.0,CAH10-01-08,100.0,30.0,0.0,15.0,0.0,55.0

In [12]:
len(eorig[eorig.EMPSBJ == 'CAH10-01-08'].UKPRN.unique())

79

## KIS Course Validation

In [13]:
korig = pd.read_csv('Unistats/KISCOURSE.csv', header=0)

print(korig.shape)
korig.head()

(37893, 35)

C:\Users\liamk\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (3,5,8,23,28,30) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,PUBUKPRN,UKPRN,ASSURL,ASSURLW,CRSEURL,CRSEURLW,DISTANCE,EMPLOYURL,EMPLOYURLW,FOUNDATION,...,NUMSTAGE,SANDWICH,SUPPORTURL,SUPPORTURLW,TITLE,TITLEW,UCASPROGID,UKPRNAPPLY,YEARABROAD,KISAIMCODE
0,10000047,10001143,https://www.canterbury.ac.uk/study-here/course...,NaN,https://www.canterbury.ac.uk/study-here/course...,NaN,0,http://www.canterbury.ac.uk/career-development...,NaN,0,...,2.0,0,http://www.canterbury.ac.uk/study-here/fees-an...,NaN,Ophthalmic Dispensing,NaN,A19-H32,NaN,0,30
1,10000055,10000055,http://www.abingdon-witney.ac.uk/course/?code=...,NaN,http://www.abingdon-witney.ac.uk/course/?code=...,NaN,0,http://www.abingdon-witney.ac.uk/course/?code=...,NaN,0,...,2.0,0,http://www.brookes.ac.uk/studying-at-brookes/f...,NaN,Animal Behaviour and Welfare,NaN,NaN,10004930.0,0,36
2,10000055,10000055,http://www.abingdon-witney.ac.uk/course/?code=...,NaN,http://www.abingdon-witney.ac.uk/course/?code=...,NaN,0,http://www.abingdon-witney.ac.uk/course/?code=...,NaN,2,...,3.0,0,http://www.brookes.ac.uk/studying-at-brookes/f...,NaN,Animal Behaviour & Welfare (Top Up),NaN,NaN,10004930.0,0,21
3,10000055,10000055,http://www.abingdon-witney.ac.uk/course/?code=...,NaN,http://www.abingdon-witney.ac.uk/course/?code=...,NaN,0,http://www.abingdon-witney.ac.uk/course/?code=...,NaN,0,...,2.0,0,http://www.brookes.ac.uk/studying-at-brookes/f...,NaN,Electrical and Electronic Engineering,NaN,NaN,10004930.0,0,34
4,10000055,10000055,http://www.abingdon-witney.ac.uk/course/?code=...,NaN,http://www.abingdon-witney.ac.uk/course/?code=...,NaN,0,http://www.abingdon-witney.ac.uk/course/?code=...,NaN,0,...,2.0,0,http://www.brookes.ac.uk/studying-at-brookes/f...,NaN,Mechanical Engineering,NaN,NaN,10004930.0,0,34

In [14]:
# check uni name
aorig[aorig.UKPRN == 10000747].head(1)

,UKPRN,Provider,Subject Code,Subject,Level,Question Number,Actual value,Response,Country
6208,10000747,Blackburn College,CAH02-03-08,"Counselling, psychotherapy and occupational th...",Other undergraduate,Scale01,0.6062,51,England

## Explore SAL dataset

In [15]:
sorig = pd.read_csv('Unistats/SALARY.csv', header=0)

print(sorig.shape)
sorig.head()

(46627, 18)

,PUBUKPRN,UKPRN,KISCOURSEID,KISMODE,SALUNAVAILREASON,SALPOP,SALRESP_RATE,SALAGG,SALSBJ,LDLQ,LDMED,LDUQ,LQ,MED,UQ,INSTLQ,INSTMED,INSTUQ
0,10000047,10001143,PSSFDOPTDIS,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10000055,10000055,AB20,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10000055,10000055,AB27,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10000055,10000055,AB28,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10000055,10000055,AB29,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
sorig = sorig[sorig.SALSBJ.isnull() == False]
print(sorig.shape)

(33003, 18)

In [17]:
# SALPOP - Number of students in the population from which the salary data is derived for the course
# SALRESP_RATE - Response rate of students in the population from which the salary data is derived for the course
# SALSBJ - JACS Level subject code
# LDMED - (?) Sector Median salary for subject (40 months after graduation)
# MED - (?) Sector Median salary for subject (6 months after graduation)
# INSTMED - (?) Course Median salary (6 months after graduation)
# also do we care about tariffs?
sorig[sorig.SALSBJ == 'CAH10-01-08'].iloc[0,:]

PUBUKPRN               10000820
UKPRN                  10000820
KISCOURSEID          ED18_DP_PT
KISMODE                       2
SALUNAVAILREASON              1
SALPOP                       10
SALRESP_RATE                100
SALAGG                       13
SALSBJ              CAH10-01-08
LDLQ                        NaN
LDMED                       NaN
LDUQ                        NaN
LQ                        24000
MED                       25000
UQ                        32000
INSTLQ                    23000
INSTMED                   28000
INSTUQ                    40000
Name: 1290, dtype: object

In [18]:
aorig[aorig.UKPRN == 10000820].Provider.unique()

array(['Bournemouth and Poole College, The'], dtype=object)

## Salary Validation

In [19]:
sorig.SALSBJ.value_counts()[:10]

CAH19-03       2836
CAH17-01       1413
CAH20-01-01    1061
CAH15-03-01     982
CAH19           937
CAH17-01-02     840
CAH15-01-02     829
CAH11-01-01     817
CAH15           774
CAH09-01-01     734
Name: SALSBJ, dtype: int64

In [20]:
aorig[aorig['Subject Code'] == 'CAH20-01-01'].Subject.unique()

array(['History'], dtype=object)

In [21]:
sorig[sorig.SALSBJ == 'CAH20-01-01'][:5]

,PUBUKPRN,UKPRN,KISCOURSEID,KISMODE,SALUNAVAILREASON,SALPOP,SALRESP_RATE,SALAGG,SALSBJ,LDLQ,LDMED,LDUQ,LQ,MED,UQ,INSTLQ,INSTMED,INSTUQ
63,10000291,10000291,K00044,1,1,25.0,65.0,23.0,CAH20-01-01,20000.0,25000.0,29000.0,16000.0,18000.0,22000.0,15000.0,18000.0,22000.0
496,10000571,10000571,BA-EDAHY,1,0,20.0,55.0,23.0,CAH20-01-01,19000.0,24000.0,27000.0,16000.0,18000.0,21000.0,17000.0,20000.0,21000.0
544,10000571,10000571,BA-HHP,1,1,20.0,55.0,23.0,CAH20-01-01,19000.0,24000.0,27000.0,16000.0,18000.0,21000.0,17000.0,20000.0,21000.0
546,10000571,10000571,BA-HHP-SW,1,1,20.0,55.0,23.0,CAH20-01-01,19000.0,24000.0,27000.0,16000.0,18000.0,21000.0,17000.0,20000.0,21000.0
548,10000571,10000571,BA-HY-SW,1,1,20.0,55.0,23.0,CAH20-01-01,19000.0,24000.0,27000.0,16000.0,18000.0,21000.0,17000.0,20000.0,21000.0

In [22]:
sorig[sorig.SALSBJ == 'CAH20-01-01'].UKPRN.unique()[:10]

array([10000291, 10000571, 10000961, 10001282, 10001726, 10001883,
       10002718, 10003614, 10003645, 10003861], dtype=int64)

In [23]:
aorig[aorig.UKPRN == 10000961].Provider.unique()

array(['Brunel University London'], dtype=object)

In [24]:
sorig[(sorig.SALSBJ == 'CAH20-01-01') & (sorig.UKPRN == 10000961)]

,PUBUKPRN,UKPRN,KISCOURSEID,KISMODE,SALUNAVAILREASON,SALPOP,SALRESP_RATE,SALAGG,SALSBJ,LDLQ,LDMED,LDUQ,LQ,MED,UQ,INSTLQ,INSTMED,INSTUQ
1923,10000961,10000961,LV21UPLT-HY-FT-BSC,1,0,15.0,100.0,13.0,CAH20-01-01,25000.0,29000.0,36000.0,20000.0,22000.0,26000.0,17000.0,21000.0,22000.0
1925,10000961,10000961,LV21UPLT-HY-KW-BSC,1,0,15.0,100.0,13.0,CAH20-01-01,25000.0,29000.0,36000.0,20000.0,22000.0,26000.0,17000.0,21000.0,22000.0
1974,10000961,10000961,V140UHISTORY-KW-BA,1,0,15.0,100.0,13.0,CAH20-01-01,25000.0,29000.0,36000.0,20000.0,22000.0,26000.0,17000.0,21000.0,22000.0
1975,10000961,10000961,V391UMILINTH-FT-BA,1,1,15.0,100.0,13.0,CAH20-01-01,25000.0,29000.0,36000.0,20000.0,22000.0,26000.0,17000.0,21000.0,22000.0
1976,10000961,10000961,V391UMILINTH-KW-BA,1,1,15.0,100.0,13.0,CAH20-01-01,25000.0,29000.0,36000.0,20000.0,22000.0,26000.0,17000.0,21000.0,22000.0

In [25]:
aorig[aorig.Provider.str.contains('Bournemouth')].Provider.unique()

array(['Arts University Bournemouth, the',
       'Bournemouth and Poole College, The', 'Bournemouth University'],
      dtype=object)

In [26]:
aorig[aorig['Subject Code'] == 'CAH10-01-08'].Subject.unique()

array(['Electrical and electronic engineering'], dtype=object)

Test 3

In [27]:
aorig[aorig['Subject Code'] == 'CAH15-03-01'].Subject.unique()

array(['Politics'], dtype=object)

In [28]:
sorig[sorig.SALSBJ == 'CAH15-03-01'].sample(5)

,PUBUKPRN,UKPRN,KISCOURSEID,KISMODE,SALUNAVAILREASON,SALPOP,SALRESP_RATE,SALAGG,SALSBJ,LDLQ,LDMED,LDUQ,LQ,MED,UQ,INSTLQ,INSTMED,INSTUQ
14635,10006842,10006842,BA_TIPPCS,1,1,20.0,75.0,13.0,CAH15-03-01,22000.0,26000.0,32000.0,17000.0,20000.0,24000.0,17000.0,21000.0,26000.0
27782,10007768,10007768,005199,1,0,15.0,80.0,13.0,CAH15-03-01,20000.0,25000.0,31000.0,17000.0,20000.0,24000.0,18000.0,20000.0,25000.0
5289,10003678,10003678,BAHUFHRG2SOC20,1,0,15.0,75.0,13.0,CAH15-03-01,26000.0,30000.0,36000.0,20000.0,24000.0,28000.0,16000.0,22000.0,24000.0
14970,10006842,10006842,BA_TPMIPP,1,1,20.0,75.0,13.0,CAH15-03-01,22000.0,26000.0,32000.0,17000.0,20000.0,24000.0,17000.0,21000.0,26000.0
22070,10007157,10007157,RL60,1,1,35.0,70.0,13.0,CAH15-03-01,21000.0,26000.0,31000.0,17000.0,20000.0,24000.0,18000.0,22000.0,26000.0

In [29]:
aorig[aorig.UKPRN == 10007783].Provider.unique()

array(['University of Aberdeen'], dtype=object)

In [30]:
len(sorig[sorig.SALSBJ == 'CAH15-03-01'].LDMED.unique())

11

In [31]:
stest = sorig[(sorig.SALSBJ == 'CAH15-03-01')]
print(len(stest))

982

In [32]:
s_piv = pd.pivot_table(stest, values='INSTMED', index=['UKPRN'], aggfunc=np.mean)

print(s_piv[s_piv.INSTMED == s_piv.INSTMED.min()])
print(s_piv.nlargest(3, 'INSTMED'))

          INSTMED
UKPRN
10007848  16000.0
          INSTMED
UKPRN
10007773  30000.0
10004063  28000.0
10007760  27000.0

In [33]:
print(aorig[aorig.UKPRN == 10007848].Provider.unique())
print(aorig[aorig.UKPRN == 10004063].Provider.unique())

['University of Chester']
['The London School of Economics and Political Science']

In [34]:
sorig[(sorig.UKPRN == 10007848) & (sorig.SALSBJ == 'CAH15-03-01')].head(1)

,PUBUKPRN,UKPRN,KISCOURSEID,KISMODE,SALUNAVAILREASON,SALPOP,SALRESP_RATE,SALAGG,SALSBJ,LDLQ,LDMED,LDUQ,LQ,MED,UQ,INSTLQ,INSTMED,INSTUQ
40668,10007848,10007848,UBAECIR-K,1,1,15.0,95.0,23.0,CAH15-03-01,20000.0,24000.0,30000.0,17000.0,19000.0,23000.0,14000.0,16000.0,20000.0

In [35]:
sorig[sorig.SALSBJ.str.contains('CAH15')].SALSBJ.unique()

array(['CAH15-01-02', 'CAH15', 'CAH15-01', 'CAH15-04', 'CAH15-04-03',
       'CAH15-04-01', 'CAH15-01-03', 'CAH15-02-01', 'CAH15-03-01',
       'CAH15-01-04', 'CAH15-04-02', 'CAH15-01-01', 'CAH15-01-05'],
      dtype=object)

In [36]:
sorig[(sorig.UKPRN == 10004063) & (sorig.SALSBJ == 'CAH15-03-01')].head(1)

,PUBUKPRN,UKPRN,KISCOURSEID,KISMODE,SALUNAVAILREASON,SALPOP,SALRESP_RATE,SALAGG,SALSBJ,LDLQ,LDMED,LDUQ,LQ,MED,UQ,INSTLQ,INSTMED,INSTUQ
6944,10004063,10004063,F9L1-UBENPOWEC,1,0,35.0,80.0,13.0,CAH15-03-01,26000.0,30000.0,36000.0,20000.0,24000.0,28000.0,24000.0,28000.0,30000.0

Test 4

In [37]:
aorig[aorig['Subject Code'] == 'CAH17-01-02'].Subject.unique()

array(['Business studies'], dtype=object)

In [38]:
sorig[sorig.SALSBJ == 'CAH17-01-02'].UKPRN.unique()[-10:]

array([10007850, 10007852, 10007854, 10007857, 10023777, 10028216,
       10030129, 10033187, 10042570, 10000975], dtype=int64)

In [39]:
print(aorig[aorig.UKPRN == 10007850].Provider.unique())
print(aorig[aorig.UKPRN == 10007852].Provider.unique())

['The University of Bath']
['University of Dundee']

In [40]:
sorig[(sorig.UKPRN == 10007850) & (sorig.SALSBJ == 'CAH17-01-02')]

,PUBUKPRN,UKPRN,KISCOURSEID,KISMODE,SALUNAVAILREASON,SALPOP,SALRESP_RATE,SALAGG,SALSBJ,LDLQ,LDMED,LDUQ,LQ,MED,UQ,INSTLQ,INSTMED,INSTUQ
41247,10007850,10007850,UUUC1-NN12~UMMN-AYB06,1,1,50.0,84.0,13.0,CAH17-01-02,24000.0,30000.0,38000.0,20000.0,23000.0,28000.0,26000.0,30000.0,36000.0

In [41]:
sorig[(sorig.UKPRN == 10007850) & (sorig.SALSBJ == 'CAH17-01')].head(5)

,PUBUKPRN,UKPRN,KISCOURSEID,KISMODE,SALUNAVAILREASON,SALPOP,SALRESP_RATE,SALAGG,SALSBJ,LDLQ,LDMED,LDUQ,LQ,MED,UQ,INSTLQ,INSTMED,INSTUQ
41245,10007850,10007850,UUUC1-N200~UMMN-AFB04,1,0,80.0,83.0,12.0,CAH17-01,24000.0,30000.0,37000.0,20000.0,23000.0,28000.0,25000.0,29000.0,36000.0
41246,10007850,10007850,UUUC1-N201~UMMN-AKB04,1,1,80.0,83.0,12.0,CAH17-01,24000.0,30000.0,37000.0,20000.0,23000.0,28000.0,25000.0,29000.0,36000.0
41248,10007850,10007850,UUUC1-NN25~UMMN-AKB05,1,1,80.0,83.0,12.0,CAH17-01,24000.0,30000.0,37000.0,20000.0,23000.0,28000.0,25000.0,29000.0,36000.0
41325,10007850,10007850,UUUI1-F145~USCH-AFB03,1,0,80.0,83.0,12.0,CAH17-01,24000.0,30000.0,37000.0,20000.0,23000.0,28000.0,25000.0,29000.0,36000.0
41327,10007850,10007850,UUUI1-F146~USCH-AKB04,1,0,80.0,83.0,12.0,CAH17-01,24000.0,30000.0,37000.0,20000.0,23000.0,28000.0,25000.0,29000.0,36000.0

In [42]:
sorig[(sorig.UKPRN == 10007852) & (sorig.SALSBJ == 'CAH17-01-02')].head(1)

,PUBUKPRN,UKPRN,KISCOURSEID,KISMODE,SALUNAVAILREASON,SALPOP,SALRESP_RATE,SALAGG,SALSBJ,LDLQ,LDMED,LDUQ,LQ,MED,UQ,INSTLQ,INSTMED,INSTUQ
43286,10007852,10007852,N120,1,0,10.0,100.0,13.0,CAH17-01-02,21000.0,26000.0,34000.0,18000.0,20000.0,24000.0,18000.0,20000.0,20000.0

Test 5

In [43]:
aorig[aorig['Subject Code'] == 'CAH09-01-01'].Subject.unique()

array(['Mathematics'], dtype=object)

In [44]:
sorig[sorig.SALSBJ == 'CAH09-01-01'].UKPRN.unique()[20:30]

array([10007154, 10007155, 10007157, 10007158, 10007160, 10007163,
       10007164, 10007166, 10007167, 10007759], dtype=int64)

In [45]:
print(aorig[aorig.UKPRN == 10007155].Provider.unique())
print(aorig[aorig.UKPRN == 10007157].Provider.unique())

['University of Portsmouth']
['The University of Sheffield']

In [46]:
sorig[(sorig.UKPRN == 10007155) & (sorig.SALSBJ == 'CAH09-01-01')]

,PUBUKPRN,UKPRN,KISCOURSEID,KISMODE,SALUNAVAILREASON,SALPOP,SALRESP_RATE,SALAGG,SALSBJ,LDLQ,LDMED,LDUQ,LQ,MED,UQ,INSTLQ,INSTMED,INSTUQ
21323,10007155,10007155,C2684,1,1,35.0,95.0,13.0,CAH09-01-01,25000.0,30000.0,39000.0,20000.0,25000.0,29000.0,19000.0,21000.0,24000.0

In [47]:
sorig[(sorig.UKPRN == 10007157) & (sorig.SALSBJ == 'CAH09-01-01')].head(1)

,PUBUKPRN,UKPRN,KISCOURSEID,KISMODE,SALUNAVAILREASON,SALPOP,SALRESP_RATE,SALAGG,SALSBJ,LDLQ,LDMED,LDUQ,LQ,MED,UQ,INSTLQ,INSTMED,INSTUQ
21834,10007157,10007157,G102,1,1,40.0,85.0,13.0,CAH09-01-01,24000.0,27000.0,35000.0,19000.0,22000.0,27000.0,18000.0,23000.0,27000.0

## Merge Salary data

In [48]:
aorig.head()

,UKPRN,Provider,Subject Code,Subject,Level,Question Number,Actual value,Response,Country
0,10007783,University of Aberdeen,CAH01-01-02,Medicine (non-specific),First degree,Scale01,0.9394,99,Scotland
1,10007783,University of Aberdeen,CAH01-01-02,Medicine (non-specific),First degree,Scale02,0.9158,99,Scotland
2,10007783,University of Aberdeen,CAH01-01-02,Medicine (non-specific),First degree,Scale03,0.6944,99,Scotland
3,10007783,University of Aberdeen,CAH01-01-02,Medicine (non-specific),First degree,Scale04,0.8838,99,Scotland
4,10007783,University of Aberdeen,CAH01-01-02,Medicine (non-specific),First degree,Scale05,0.8636,99,Scotland

In [49]:
len(aorig['Subject Code'].unique())

114

In [50]:
len(sorig.SALSBJ.unique())

167

In [51]:
sedit = sorig.copy()

sedit['SBJLEN'] = sedit['SALSBJ'].apply(len)

sedit.SBJLEN.value_counts()

11    20726
8      9709
5      2568
Name: SBJLEN, dtype: int64

In [52]:
# we see more subjects in sorig
len(sedit[sedit.SBJLEN == 11].SALSBJ.unique())

134

In [53]:
sorig.KISMODE.value_counts()

1    31420
2     1583
Name: KISMODE, dtype: int64

In [54]:
sedit = sedit[sedit.KISMODE == 1]

len(sedit[sedit.SBJLEN == 11].SALSBJ.unique())

132

In [55]:
smerge = sedit[['UKPRN', 'SALSBJ', 'INSTMED']]

smerge.head(2)

       UKPRN       SALSBJ  INSTMED
23  10000248  CAH21-01-06  26000.0
24  10000248  CAH21-01-06  26000.0

In [56]:
first_degree_sbj = aorig[aorig.Level == 'First degree'].Subject.unique()
other_und_sbj = aorig[aorig.Level != 'First degree'].Subject.unique()
print(len(first_degree_sbj))
print(len(other_und_sbj))

114
78

In [57]:
len(set(first_degree_sbj).difference(set(other_und_sbj)))

36

In [58]:
# all other subjects are in first degree subjects
len(set(other_und_sbj).difference(set(first_degree_sbj)))

0

In [59]:
# same as .difference
len(set(first_degree_sbj) - set(other_und_sbj))

36

## Explore LEO dataset

In [60]:
lorig = pd.read_csv('Unistats/LEO.csv', header=0)

print(lorig.shape)
lorig.head()

(45213, 11)

,PUBUKPRN,UKPRN,KISCOURSEID,KISMODE,LEOUNAVAILREASON,LEOPOP,LEOAGG,LEOSBJ,LEOLQ,LEOMED,LEOUQ
0,10000047,10001143,PSSFDOPTDIS,1,0,25.0,23.0,CAH02-03-03,19500.0,22000.0,25500.0
1,10000055,10000055,AB20,1,0,15.0,23.0,CAH06-01-01,14000.0,17000.0,23500.0
2,10000055,10000055,AB27,1,1,NaN,NaN,NaN,NaN,NaN,NaN
3,10000055,10000055,AB28,1,1,NaN,NaN,NaN,NaN,NaN,NaN
4,10000055,10000055,AB29,1,1,NaN,NaN,NaN,NaN,NaN,NaN

In [61]:
lorig = lorig[lorig.LEOSBJ.isnull() == False]
print(lorig.shape)

(31453, 11)

In [62]:
# LEOMED - (?) Median Longitudinal Education Outcomes data for the subject
lorig[lorig.LEOSBJ == 'CAH10-01-08'].iloc[0,:]

PUBUKPRN               10000291
UKPRN                  10000291
KISCOURSEID              K00033
KISMODE                       1
LEOUNAVAILREASON              0
LEOPOP                       20
LEOAGG                       23
LEOSBJ              CAH10-01-08
LEOLQ                     12500
LEOMED                    19000
LEOUQ                     28500
Name: 54, dtype: object

In [63]:
lorig[lorig.LEOSBJ == 'CAH10-01-08'].iloc[110,:]

PUBUKPRN               10007140
UKPRN                  10007140
KISCOURSEID           US0669-00
KISMODE                       1
LEOUNAVAILREASON              0
LEOPOP                      295
LEOAGG                       23
LEOSBJ              CAH10-01-08
LEOLQ                     15500
LEOMED                    20500
LEOUQ                     26500
Name: 17440, dtype: object

## Misc Test

In [64]:
test = sorted(aorig.Subject.unique())

In [65]:
test[:5]

['Accounting',
 'Adult nursing',
 'Aeronautical and aerospace engineering',
 'Agriculture',
 'American and Australasian studies']

In [66]:
atest = aorig[(aorig['Question Number'] == 'Scale01') | (aorig['Question Number'] == 'Scale02') | (aorig['Question Number'] == 'Q26')]

In [67]:
atest = atest[(atest.Subject == 'Economics') & (atest.Country == 'England')]

In [68]:
a_val = atest.Provider.value_counts()
print(a_val.shape)

(68,)

In [69]:
len(a_val[a_val == 3].index.tolist())

65

In [70]:
anno = aorig[(aorig.Provider == 'University of Aberdeen') & (aorig.Subject == 'Economics')]

In [71]:
anno[anno['Question Number'] == 'Scale04']['Actual value'].values[0]

0.8184

In [72]:
test2 = anno[anno['Question Number'] == 'Nope']

In [73]:
len(test2)

0

In [74]:
# for i in aorig.Country.unique():
#     schoolnum = len(aorig[aorig.Country == i].Provider.unique())
#     print(f"{i} has {schoolnum} schools")

In [75]:
# ni2_test = pd.pivot_table(ni2, values='Response', index=['Level', 'Provider', 'Question Number'], aggfunc=np.sum)

# ni2_test

In [76]:
# q_keep = ['Scale01','Scale02','Scale03','Scale04','Scale05','Scale06','Scale07','Scale08','Q26','Q27',]

# aedit = aorig[aorig['Question Number'].isin(q_keep)]

# print(aedit.shape)
# aedit.head(2)

In [77]:
scale_dict = {'01SalMedian':'Median Salary', '02Employment':'Graduate Employment', '03Q27':'Overall Satisfaction',
              'Scale01':'Teaching Quality', 'Scale02':'Learning Opportunities', 'Scale03':'Academic Fairness', 'Scale04':'Academic Support',
              'Scale05':'Organisation and Management', 'Scale06':'Resource Availability', 'Scale07':'Sense of Community',
              'Scale08':'Student Voice', 'ZQ26':"Students' Union"
              }

In [86]:
cat_list = list(scale_dict.keys())

In [88]:
cat_list.remove('Scale08')

cat_list

['01SalMedian',
 '02Employment',
 '03Q27',
 'Scale01',
 'Scale02',
 'Scale03',
 'Scale04',
 'Scale05',
 'Scale06',
 'Scale07',
 'ZQ26']

In [89]:
cat_set = set(scale_dict.keys())

cat_set

{'01SalMedian',
 '02Employment',
 '03Q27',
 'Scale01',
 'Scale02',
 'Scale03',
 'Scale04',
 'Scale05',
 'Scale06',
 'Scale07',
 'Scale08',
 'ZQ26'}

In [91]:
cat_set.discard('ZQ200')

cat_set

{'01SalMedian',
 '02Employment',
 '03Q27',
 'Scale01',
 'Scale02',
 'Scale03',
 'Scale04',
 'Scale05',
 'Scale06',
 'Scale07',
 'Scale08'}

In [93]:
for i in sorted(cat_set):
    print(i)

01SalMedian
02Employment
03Q27
Scale01
Scale02
Scale03
Scale04
Scale05
Scale06
Scale07
Scale08