In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# steps done:
# Uppercase
# remove duplicates
# remove outliers
# name comparison

In [3]:
aorig = pd.read_csv('UK Gender Pay Gap Data - 2017 to 2018.csv', header=0)
borig = pd.read_csv('UK Gender Pay Gap Data - 2018 to 2019.csv', header=0)

print(aorig.shape)
print(borig.shape)

(10560, 25)
(10776, 25)

In [4]:
aorig.head(3)

,EmployerName,Address,CompanyNumber,SicCodes,DiffMeanHourlyPercent,DiffMedianHourlyPercent,DiffMeanBonusPercent,DiffMedianBonusPercent,MaleBonusPercent,FemaleBonusPercent,...,FemaleUpperMiddleQuartile,MaleTopQuartile,FemaleTopQuartile,CompanyLinkToGPGInfo,ResponsiblePerson,EmployerSize,CurrentName,SubmittedAfterTheDeadline,DueDate,DateSubmitted
0,"""Bryanston School"",Incorporated","Bryanston House,\r\nBlandford,\r\nDorset,\r\nU...",00226143,85310,18.0,28.2,0.0,0.0,0.0,0.0,...,50.8,51.5,48.5,https://www.bryanston.co.uk/employment,Nick McRobb (Bursar and Clerk to the Governors),500 to 999,"""Bryanston School"",Incorporated",False,05/04/2018 00:00:00,27/03/2018 11:42:49
1,"""RED BAND"" CHEMICAL COMPANY, LIMITED","19 Smith's Place,\r\nLeith Walk,\r\nEdinburgh,...",SC016876,47730,2.3,-2.7,15.0,37.5,15.6,66.7,...,89.7,18.1,81.9,NaN,Philip Galt (Managing Director),250 to 499,"""RED BAND"" CHEMICAL COMPANY, LIMITED",False,05/04/2018 00:00:00,28/03/2018 16:44:25
2,118 LIMITED,"Fusion Point,\r\nDumballs Road,\r\nCardiff,\r\...",03951948,61900,1.7,2.8,13.1,13.6,70.0,57.0,...,50.0,58.0,42.0,NaN,"Emma Crowe (VP, Human Resources)",500 to 999,118 LIMITED,False,05/04/2018 00:00:00,27/03/2018 19:10:41

In [5]:
borig.head(3)

,EmployerName,Address,CompanyNumber,SicCodes,DiffMeanHourlyPercent,DiffMedianHourlyPercent,DiffMeanBonusPercent,DiffMedianBonusPercent,MaleBonusPercent,FemaleBonusPercent,...,FemaleUpperMiddleQuartile,MaleTopQuartile,FemaleTopQuartile,CompanyLinkToGPGInfo,ResponsiblePerson,EmployerSize,CurrentName,SubmittedAfterTheDeadline,DueDate,DateSubmitted
0,"""Bryanston School"",Incorporated","Bryanston House,\r\nBlandford,\r\nDorset,\r\nU...",00226143,85310,19.6,32.5,NaN,NaN,0.0,0.0,...,55.1,53.3,46.7,https://www.bryanston.co.uk/employment,Michael McGovern (Chief Operating Officer),500 to 999,"""Bryanston School"",Incorporated",False,05/04/2019 00:00:00,03/04/2019 13:43:34
1,"""RED BAND"" CHEMICAL COMPANY, LIMITED","19 Smith's Place,\r\nLeith Walk,\r\nEdinburgh,...",SC016876,47730,7.7,-4.2,23.7,-75.2,22.2,82.0,...,88.4,20.3,79.7,NaN,Philip Galt (Managing Director),250 to 499,"""RED BAND"" CHEMICAL COMPANY, LIMITED",False,05/04/2019 00:00:00,01/04/2019 12:37:21
2,118 LIMITED,"Fusion Point,\r\nDumballs Road,\r\nCardiff,\r\...",03951948,61900,7.7,12.7,11.3,10.9,67.0,52.0,...,50.0,56.0,44.0,NaN,Michael Graham (CEO),1000 to 4999,118 LIMITED,False,05/04/2019 00:00:00,06/03/2019 13:26:24

## Uppercase

In [6]:
aorig['EmployerName'] = aorig['EmployerName'].str.upper()
borig['EmployerName'] = borig['EmployerName'].str.upper()

## Remove quotation marks

In [7]:
aorig['EmployerName'] = aorig['EmployerName'].str.replace('"', '')
borig['EmployerName'] = borig['EmployerName'].str.replace('"', '')

aorig.head(2)

,EmployerName,Address,CompanyNumber,SicCodes,DiffMeanHourlyPercent,DiffMedianHourlyPercent,DiffMeanBonusPercent,DiffMedianBonusPercent,MaleBonusPercent,FemaleBonusPercent,...,FemaleUpperMiddleQuartile,MaleTopQuartile,FemaleTopQuartile,CompanyLinkToGPGInfo,ResponsiblePerson,EmployerSize,CurrentName,SubmittedAfterTheDeadline,DueDate,DateSubmitted
0,"BRYANSTON SCHOOL,INCORPORATED","Bryanston House,\r\nBlandford,\r\nDorset,\r\nU...",00226143,85310,18.0,28.2,0.0,0.0,0.0,0.0,...,50.8,51.5,48.5,https://www.bryanston.co.uk/employment,Nick McRobb (Bursar and Clerk to the Governors),500 to 999,"""Bryanston School"",Incorporated",False,05/04/2018 00:00:00,27/03/2018 11:42:49
1,"RED BAND CHEMICAL COMPANY, LIMITED","19 Smith's Place,\r\nLeith Walk,\r\nEdinburgh,...",SC016876,47730,2.3,-2.7,15.0,37.5,15.6,66.7,...,89.7,18.1,81.9,NaN,Philip Galt (Managing Director),250 to 499,"""RED BAND"" CHEMICAL COMPANY, LIMITED",False,05/04/2018 00:00:00,28/03/2018 16:44:25

## Remove trailing space

In [8]:
aorig['EmployerName'] = aorig['EmployerName'].str.strip()
borig['EmployerName'] = borig['EmployerName'].str.strip()

# Remove 2017 duplicates

In [9]:
aorig['EmployerName'].value_counts()[:5]

TALBOT UNDERWRITING SERVICES LTD    2
P.D. HOOK (BREEDERS) LIMITED        1
HUGHES ELECTRICAL LIMITED           1
DOUGLAS PARK LIMITED                1
SCOTT DUNN LIMITED                  1
Name: EmployerName, dtype: int64

In [10]:
aorig[aorig['EmployerName'] == 'TALBOT UNDERWRITING SERVICES LTD']

,EmployerName,Address,CompanyNumber,SicCodes,DiffMeanHourlyPercent,DiffMedianHourlyPercent,DiffMeanBonusPercent,DiffMedianBonusPercent,MaleBonusPercent,FemaleBonusPercent,...,FemaleUpperMiddleQuartile,MaleTopQuartile,FemaleTopQuartile,CompanyLinkToGPGInfo,ResponsiblePerson,EmployerSize,CurrentName,SubmittedAfterTheDeadline,DueDate,DateSubmitted
8744,TALBOT UNDERWRITING SERVICES LTD,"60 Threadneedle Street,\r\nLondon,\r\nEC2R 8HP",03043304,NaN,35.0,28.0,78.0,47.0,96.0,91.0,...,28.0,85.0,15.0,https://www.validusholdings.com/media/137680/t...,Dominic Scarlett (Global Director of Human Res...,250 to 499,TALBOT UNDERWRITING LTD,False,05/04/2018 00:00:00,04/04/2018 10:44:48
8745,TALBOT UNDERWRITING SERVICES LTD,"60 Threadneedle Street,\r\nLondon,\r\nUnited K...",00100010,82990,35.0,28.0,78.0,47.0,96.0,91.0,...,28.0,85.0,15.0,https://www.validusholdings.com/about-us/resou...,Dominic Scarlett (Chief Corporate Services Off...,250 to 499,Talbot Underwriting Services Ltd,False,05/04/2018 00:00:00,03/04/2019 12:59:21

In [11]:
aorig.drop(8744, inplace=True)

## Remove 2018 duplicates

In [12]:
borig['EmployerName'].value_counts()[:5]

GROUP EMPLOYMENT SERVICES LIMITED    2
CHOICE SUPPORT                       2
ITC INFOTECH LIMITED                 2
MACKAYS STORES GROUP LIMITED         1
REDDE PLC                            1
Name: EmployerName, dtype: int64

In [13]:
borig[borig['EmployerName'] == 'CHOICE SUPPORT']

,EmployerName,Address,CompanyNumber,SicCodes,DiffMeanHourlyPercent,DiffMedianHourlyPercent,DiffMeanBonusPercent,DiffMedianBonusPercent,MaleBonusPercent,FemaleBonusPercent,...,FemaleUpperMiddleQuartile,MaleTopQuartile,FemaleTopQuartile,CompanyLinkToGPGInfo,ResponsiblePerson,EmployerSize,CurrentName,SubmittedAfterTheDeadline,DueDate,DateSubmitted
1985,CHOICE SUPPORT,"100 Westminster Bridge Road,\r\nLondon,\r\nUni...",02189556,87200,-1.6,1.5,NaN,NaN,0.0,0.0,...,75.0,25.0,75.0,NaN,Mark Ferry (Director of Human Resources),1000 to 4999,Choice Support,False,05/04/2019 00:00:00,04/04/2019 20:27:02
1986,CHOICE SUPPORT,"One Hermitage Court,\r\nHermitage Lane,\r\nMai...",08971493,87200,9.7,3.6,NaN,NaN,0.0,0.0,...,77.0,31.0,69.0,NaN,Mark Ferry (Director of Human Resources),1000 to 4999,CHOICE SUPPORT,False,05/04/2019 00:00:00,04/04/2019 20:43:18

In [14]:
print(borig.at[1986, 'EmployerName'])
borig.at[1986, 'EmployerName'] = 'CHOICE SUPPORT LONDON'
print(borig.at[1986, 'EmployerName'])

CHOICE SUPPORT
CHOICE SUPPORT LONDON

In [15]:
borig[(borig['EmployerName'] == 'GROUP EMPLOYMENT SERVICES LIMITED') | (borig['EmployerName'] == 'ITC INFOTECH LIMITED') ]

,EmployerName,Address,CompanyNumber,SicCodes,DiffMeanHourlyPercent,DiffMedianHourlyPercent,DiffMeanBonusPercent,DiffMedianBonusPercent,MaleBonusPercent,FemaleBonusPercent,...,FemaleUpperMiddleQuartile,MaleTopQuartile,FemaleTopQuartile,CompanyLinkToGPGInfo,ResponsiblePerson,EmployerSize,CurrentName,SubmittedAfterTheDeadline,DueDate,DateSubmitted
4015,GROUP EMPLOYMENT SERVICES LIMITED,"Venlaw,\r\n349 Bath Street,\r\nGlasgow,\r\nLan...",SC352278,82990,-1.2,-0.9,NaN,NaN,0.0,0.0,...,11.7,89.0,11.0,https://www.securigroup.co.uk/news/gender-pay-...,Sarah Grant (HR Manager),1000 to 4999,GROUP EMPLOYMENT SERVICES LIMITED,False,05/04/2019 00:00:00,03/04/2019 09:56:07
4016,GROUP EMPLOYMENT SERVICES LIMITED,"Venlaw,\r\n349 Bath Street,\r\nGlasgow,\r\nLan...",SC352278,82990,-1.2,-0.9,NaN,NaN,0.0,0.0,...,11.7,89.0,11.0,https://www.securigroup.co.uk/news/gender-pay-...,Sarah Grant (HR Manager),1000 to 4999,GROUP EMPLOYMENT SERVICES LIMITED,False,05/04/2019 00:00:00,03/04/2019 09:56:26
4813,ITC INFOTECH LIMITED,"Building 5 Caldecotte Lake Drive,\r\nCaldecott...",02777705,"62012,\r\n62020,\r\n62030,\r\n62090",12.2,4.6,19.0,52.4,63.9,45.8,...,10.5,89.5,10.5,NaN,Hardeep Singh Garewal (President),250 to 499,ITC INFOTECH LIMITED,False,05/04/2019 00:00:00,04/04/2019 16:59:13
4814,ITC INFOTECH LIMITED,"Building 5 Caldecotte Lake Drive,\r\nCaldecott...",02777705,"62012,\r\n62020,\r\n62030,\r\n62090",12.2,4.6,19.0,52.4,63.9,45.8,...,10.5,89.5,10.5,https://www.itcinfotech.com/docs/resources/Gen...,Hardeep Singh Garewal (President),Less than 250,ITC INFOTECH LIMITED,False,05/04/2019 00:00:00,05/04/2019 09:41:39

In [16]:
borig.drop(4813, inplace=True)
borig.drop(4015, inplace=True)

## Remove 2017 outliers

In [17]:
aorig.loc[aorig['DiffMedianHourlyPercent'].nlargest(5).index]

,EmployerName,Address,CompanyNumber,SicCodes,DiffMeanHourlyPercent,DiffMedianHourlyPercent,DiffMeanBonusPercent,DiffMedianBonusPercent,MaleBonusPercent,FemaleBonusPercent,...,FemaleUpperMiddleQuartile,MaleTopQuartile,FemaleTopQuartile,CompanyLinkToGPGInfo,ResponsiblePerson,EmployerSize,CurrentName,SubmittedAfterTheDeadline,DueDate,DateSubmitted
8046,SHREWSBURY ACADEMIES TRUST,"Shrewsbury Academies Trust,\r\nMount Pleasant ...",08407961,"1,\r\n85100,\r\n85200,\r\n85310",47.4,121.2,0.0,0.0,0.0,0.0,...,80.3,25.8,74.2,http://sat.coop,NaN,250 to 499,Shrewsbury Academies Trust,True,31/03/2018 00:00:00,16/04/2018 14:22:27
5970,MINT PAY SOLUTIONS LTD,"A&L,\r\nWindfall House D1, The Courtyard,\r\nA...",08189359,"78200,\r\n82990",94.0,97.0,0.0,0.0,0.0,0.0,...,4.0,99.0,1.0,NaN,Mo El-Bassyouni (Managing Director),250 to 499,MINT PAY SOLUTIONS LTD,True,05/04/2018 00:00:00,02/07/2018 11:30:39
9946,VIDA HEALTHCARE LIMITED,"The Power House, 156 Hookstone Drive,\r\nHarro...",09106261,41100,68.3,79.8,0.0,0.0,0.0,0.0,...,50.0,33.0,67.0,NaN,JAMES RYCROFT (MANAGING DIRECTOR),250 to 499,VIDA HEALTHCARE LIMITED,True,05/04/2018 00:00:00,04/05/2018 15:13:33
1192,BOUX AVENUE LIMITED,"1 St Georges Road,\r\nWimbledon,\r\nLondon,\r\...",07191520,47710,75.4,75.7,-100.0,-100.0,0.0,81.0,...,100.0,9.0,91.0,http://www.bouxavenue.com,Laura Keane (Group HR Director),500 to 999,BOUX AVENUE LIMITED,False,05/04/2018 00:00:00,03/04/2018 15:45:54
5607,MALLING HEALTH (UK) LIMITED,"10th Floor 1 City Approach Albert Street,\r\nE...",07034946,82990,51.6,73.0,33.3,33.3,2.7,0.4,...,94.3,32.9,67.1,NaN,Richard Power (CEO),250 to 499,MALLING HEALTH (UK) LIMITED,False,05/04/2018 00:00:00,28/02/2018 10:31:58

In [18]:
borig[borig['EmployerName'] == 'SHREWSBURY ACADEMIES TRUST']

Empty DataFrame
Columns: [EmployerName, Address, CompanyNumber, SicCodes, DiffMeanHourlyPercent, DiffMedianHourlyPercent, DiffMeanBonusPercent, DiffMedianBonusPercent, MaleBonusPercent, FemaleBonusPercent, MaleLowerQuartile, FemaleLowerQuartile, MaleLowerMiddleQuartile, FemaleLowerMiddleQuartile, MaleUpperMiddleQuartile, FemaleUpperMiddleQuartile, MaleTopQuartile, FemaleTopQuartile, CompanyLinkToGPGInfo, ResponsiblePerson, EmployerSize, CurrentName, SubmittedAfterTheDeadline, DueDate, DateSubmitted]
Index: []

[0 rows x 25 columns]

In [19]:
borig[borig['CompanyNumber'] == '08407961']

Empty DataFrame
Columns: [EmployerName, Address, CompanyNumber, SicCodes, DiffMeanHourlyPercent, DiffMedianHourlyPercent, DiffMeanBonusPercent, DiffMedianBonusPercent, MaleBonusPercent, FemaleBonusPercent, MaleLowerQuartile, FemaleLowerQuartile, MaleLowerMiddleQuartile, FemaleLowerMiddleQuartile, MaleUpperMiddleQuartile, FemaleUpperMiddleQuartile, MaleTopQuartile, FemaleTopQuartile, CompanyLinkToGPGInfo, ResponsiblePerson, EmployerSize, CurrentName, SubmittedAfterTheDeadline, DueDate, DateSubmitted]
Index: []

[0 rows x 25 columns]

In [20]:
borig[borig['EmployerName'] == 'MINT PAY SOLUTIONS LTD']

,EmployerName,Address,CompanyNumber,SicCodes,DiffMeanHourlyPercent,DiffMedianHourlyPercent,DiffMeanBonusPercent,DiffMedianBonusPercent,MaleBonusPercent,FemaleBonusPercent,...,FemaleUpperMiddleQuartile,MaleTopQuartile,FemaleTopQuartile,CompanyLinkToGPGInfo,ResponsiblePerson,EmployerSize,CurrentName,SubmittedAfterTheDeadline,DueDate,DateSubmitted
6116,MINT PAY SOLUTIONS LTD,"A&L,\r\nWindfall House D1, The Courtyard,\r\nA...",08189359,"42120,\r\n82990",59.0,65.0,0.0,0.0,0.0,0.0,...,4.0,99.0,1.0,https://www.mintpaysolutions.co.uk/index.php/g...,Mohamed El-Bassyouni (Managing Director),250 to 499,MINT PAY SOLUTIONS LTD,False,05/04/2019 00:00:00,14/03/2019 12:27:09

In [21]:
# dropped SHREWSBURY ACADEMIES TRUST; not in 2018 data
aorig.drop(8046, inplace=True)

In [22]:
aorig.loc[aorig['DiffMedianHourlyPercent'].nsmallest(5).index]

,EmployerName,Address,CompanyNumber,SicCodes,DiffMeanHourlyPercent,DiffMedianHourlyPercent,DiffMeanBonusPercent,DiffMedianBonusPercent,MaleBonusPercent,FemaleBonusPercent,...,FemaleUpperMiddleQuartile,MaleTopQuartile,FemaleTopQuartile,CompanyLinkToGPGInfo,ResponsiblePerson,EmployerSize,CurrentName,SubmittedAfterTheDeadline,DueDate,DateSubmitted
838,BAR 2010 LIMITED,"Mitre House,\r\nNorth Park Road,\r\nHarrogate,...",04172269,70229,-148.0,-196.5,0.0,0.0,0.0,0.0,...,0.0,99.5,0.5,NaN,Jason Hargreaves (Director),250 to 499,BAR 2010 LIMITED,True,05/04/2018 00:00:00,20/04/2018 13:08:53
4496,INBRELLA LIMITED,"5th Floor Hampton By Hilton,\r\n42-50 Kimpton ...",08274708,69201,-150.0,-164.0,0.0,0.0,0.0,0.0,...,25.9,96.1,3.9,NaN,David Smith (Finance Director),250 to 499,INBRELLA LIMITED,True,05/04/2018 00:00:00,17/09/2018 10:21:11
7302,RANDSTAD HR SOLUTIONS LIMITED,"450 Capability Green,\r\nLuton,\r\nBedfordshir...",02904400,78200,-21.3,-103.6,31.6,-2.0,2.9,1.2,...,68.7,31.1,68.9,https://www.randstad.co.uk/about-us/about-rand...,Graham Trevor (HR Director),1000 to 4999,RANDSTAD HR SOLUTIONS LIMITED,False,05/04/2018 00:00:00,03/04/2018 19:51:29
7017,PLUS PAYROLL SERVICES LIMITED,"5th Floor Hampton By Hilton,\r\n42-50 Kimpton ...",08811568,78109,-64.4,-100.1,0.0,0.0,0.0,0.0,...,9.9,30.9,69.1,NaN,David Smith (Finance Director),500 to 999,PLUS PAYROLL SERVICES LIMITED,False,05/04/2018 00:00:00,04/04/2018 16:21:42
2340,CREST PLUS OPERATIONS LIMITED,"Suite A1, The Quadrant Mercury Court,\r\nChest...",04620624,74909,-66.5,-85.2,0.0,0.0,0.0,0.0,...,3.2,81.2,18.8,https://www.crestplus.com/pay-gap-report.pdf,Derek Harling (Managing Director),1000 to 4999,CREST PLUS OPERATIONS LIMITED,False,05/04/2018 00:00:00,19/03/2018 14:01:24

In [23]:
borig[(borig['EmployerName'] == 'BAR 2010 LIMITED') | (borig['CompanyNumber'] == '04172269')]

Empty DataFrame
Columns: [EmployerName, Address, CompanyNumber, SicCodes, DiffMeanHourlyPercent, DiffMedianHourlyPercent, DiffMeanBonusPercent, DiffMedianBonusPercent, MaleBonusPercent, FemaleBonusPercent, MaleLowerQuartile, FemaleLowerQuartile, MaleLowerMiddleQuartile, FemaleLowerMiddleQuartile, MaleUpperMiddleQuartile, FemaleUpperMiddleQuartile, MaleTopQuartile, FemaleTopQuartile, CompanyLinkToGPGInfo, ResponsiblePerson, EmployerSize, CurrentName, SubmittedAfterTheDeadline, DueDate, DateSubmitted]
Index: []

[0 rows x 25 columns]

In [24]:
borig[(borig['EmployerName'] == 'INBRELLA LIMITED') | (borig['CompanyNumber'] == '08274708')]

Empty DataFrame
Columns: [EmployerName, Address, CompanyNumber, SicCodes, DiffMeanHourlyPercent, DiffMedianHourlyPercent, DiffMeanBonusPercent, DiffMedianBonusPercent, MaleBonusPercent, FemaleBonusPercent, MaleLowerQuartile, FemaleLowerQuartile, MaleLowerMiddleQuartile, FemaleLowerMiddleQuartile, MaleUpperMiddleQuartile, FemaleUpperMiddleQuartile, MaleTopQuartile, FemaleTopQuartile, CompanyLinkToGPGInfo, ResponsiblePerson, EmployerSize, CurrentName, SubmittedAfterTheDeadline, DueDate, DateSubmitted]
Index: []

[0 rows x 25 columns]

In [25]:
borig[(borig['EmployerName'] == 'RANDSTAD HR SOLUTIONS LIMITED') | (borig['CompanyNumber'] == '02904400')]

,EmployerName,Address,CompanyNumber,SicCodes,DiffMeanHourlyPercent,DiffMedianHourlyPercent,DiffMeanBonusPercent,DiffMedianBonusPercent,MaleBonusPercent,FemaleBonusPercent,...,FemaleUpperMiddleQuartile,MaleTopQuartile,FemaleTopQuartile,CompanyLinkToGPGInfo,ResponsiblePerson,EmployerSize,CurrentName,SubmittedAfterTheDeadline,DueDate,DateSubmitted
7459,RANDSTAD HR SOLUTIONS LIMITED,"450 Capability Green,\r\nLuton,\r\nBedfordshir...",02904400,78200,-15.2,-87.1,-39.1,-1.9,80.0,67.0,...,100.0,85.0,15.0,https://www.randstad.co.uk/about-us/about-rand...,Graham Trevor (HR Director),1000 to 4999,RANDSTAD HR SOLUTIONS LIMITED,False,05/04/2019 00:00:00,29/03/2019 14:25:33

In [26]:
borig[(borig['EmployerName'] == 'PLUS PAYROLL SERVICES LIMITED') | (borig['CompanyNumber'] == '08811568')]

,EmployerName,Address,CompanyNumber,SicCodes,DiffMeanHourlyPercent,DiffMedianHourlyPercent,DiffMeanBonusPercent,DiffMedianBonusPercent,MaleBonusPercent,FemaleBonusPercent,...,FemaleUpperMiddleQuartile,MaleTopQuartile,FemaleTopQuartile,CompanyLinkToGPGInfo,ResponsiblePerson,EmployerSize,CurrentName,SubmittedAfterTheDeadline,DueDate,DateSubmitted
7163,PLUS PAYROLL SERVICES LIMITED,"5th Floor Hampton By Hilton,\r\n42-50 Kimpton ...",08811568,78109,-34.8,-45.8,NaN,NaN,0.0,0.0,...,13.3,38.7,61.3,http://pluspay.uk.com/gender-pay-gap-report/,David Smith (Director),250 to 499,PLUS PAYROLL SERVICES LIMITED,False,05/04/2019 00:00:00,04/04/2019 15:14:50

In [27]:
aorig.drop(838, inplace=True)
aorig.drop(4496, inplace=True)

In [28]:
aorig.at[7302, 'DiffMedianHourlyPercent'] = -100.0
aorig.at[7017, 'DiffMedianHourlyPercent'] = -100.0

## Remove 2018 outliers

In [29]:
borig.loc[borig['DiffMedianHourlyPercent'].nlargest(5).index]

,EmployerName,Address,CompanyNumber,SicCodes,DiffMeanHourlyPercent,DiffMedianHourlyPercent,DiffMeanBonusPercent,DiffMedianBonusPercent,MaleBonusPercent,FemaleBonusPercent,...,FemaleUpperMiddleQuartile,MaleTopQuartile,FemaleTopQuartile,CompanyLinkToGPGInfo,ResponsiblePerson,EmployerSize,CurrentName,SubmittedAfterTheDeadline,DueDate,DateSubmitted
626,ASH & LACY FINISHES LIMITED,"Ash & Lacy House, Bromford Lane,\r\nWest Bromw...",10805186,32990,100.0,100.0,NaN,NaN,0.0,0.0,...,0.0,100.0,0.0,http://www.ashandlacy.com/construction/about-u...,Jonathan Evans (CEO & Chairman),250 to 499,ASH & LACY FINISHES LIMITED,False,05/04/2019 00:00:00,03/04/2019 08:56:20
8923,T. CLASS SECURITY LIMITED,"6 Skylines Village,\r\nLimeharbour,\r\nLondon,...",03622392,80100,100.0,100.0,100.0,100.0,100.0,100.0,...,50.0,50.0,50.0,https://t-class.co.uk/,Demi Larner (Vetting Officer),250 to 499,T. CLASS SECURITY LIMITED,True,05/04/2019 00:00:00,08/05/2019 11:08:24
10162,VIDA HEALTHCARE LIMITED,"The Power House, 156 Hookstone Drive,\r\nHarro...",09106261,41100,70.4,79.3,0.0,0.0,0.0,0.0,...,67.0,50.0,50.0,NaN,James Rycroft (Managing Director),250 to 499,VIDA HEALTHCARE LIMITED,False,05/04/2019 00:00:00,18/03/2019 11:10:56
8793,SUFFOLK GP FEDERATION C.I.C.,"Riverside Clinic, 2 Landseer Road,\r\nIpswich,...",06183049,86210,59.5,74.8,NaN,NaN,0.0,0.0,...,87.5,37.5,62.5,https://suffolkfed.org.uk/,Katrina Pollard (Financial Controller),250 to 499,SUFFOLK GP FEDERATION C.I.C.,False,05/04/2019 00:00:00,26/03/2019 13:36:06
6406,NEW MILLENNIA PAYROLL SERVICES LIMITED,"1121 Ashton Old Road,\r\nManchester,\r\nM11 1AA",04254121,78200,6.6,74.3,36.6,60.0,2.0,2.2,...,10.6,92.1,7.9,NaN,Nicholas Hynes (Director),1000 to 4999,NEW MILLENNIA PAYROLL SERVICES LIMITED,False,05/04/2019 00:00:00,27/03/2019 11:45:19

In [30]:
aorig[(aorig['EmployerName'] == 'ASH & LACY FINISHES LIMITED') | (aorig['CompanyNumber'] == '10805186')]

Empty DataFrame
Columns: [EmployerName, Address, CompanyNumber, SicCodes, DiffMeanHourlyPercent, DiffMedianHourlyPercent, DiffMeanBonusPercent, DiffMedianBonusPercent, MaleBonusPercent, FemaleBonusPercent, MaleLowerQuartile, FemaleLowerQuartile, MaleLowerMiddleQuartile, FemaleLowerMiddleQuartile, MaleUpperMiddleQuartile, FemaleUpperMiddleQuartile, MaleTopQuartile, FemaleTopQuartile, CompanyLinkToGPGInfo, ResponsiblePerson, EmployerSize, CurrentName, SubmittedAfterTheDeadline, DueDate, DateSubmitted]
Index: []

[0 rows x 25 columns]

In [31]:
aorig[(aorig['EmployerName'] == 'T. CLASS SECURITY LIMITED') | (aorig['CompanyNumber'] == '03622392')]

Empty DataFrame
Columns: [EmployerName, Address, CompanyNumber, SicCodes, DiffMeanHourlyPercent, DiffMedianHourlyPercent, DiffMeanBonusPercent, DiffMedianBonusPercent, MaleBonusPercent, FemaleBonusPercent, MaleLowerQuartile, FemaleLowerQuartile, MaleLowerMiddleQuartile, FemaleLowerMiddleQuartile, MaleUpperMiddleQuartile, FemaleUpperMiddleQuartile, MaleTopQuartile, FemaleTopQuartile, CompanyLinkToGPGInfo, ResponsiblePerson, EmployerSize, CurrentName, SubmittedAfterTheDeadline, DueDate, DateSubmitted]
Index: []

[0 rows x 25 columns]

In [32]:
# dropped ASH & LACY FINISHES LIMITED; not in 2017 data
borig.drop(626, inplace=True)
# dropped T. CLASS SECURITY LIMITED; not in 2017 data
borig.drop(8923, inplace=True)

In [33]:
borig.loc[borig['DiffMedianHourlyPercent'].nsmallest(5).index]

,EmployerName,Address,CompanyNumber,SicCodes,DiffMeanHourlyPercent,DiffMedianHourlyPercent,DiffMeanBonusPercent,DiffMedianBonusPercent,MaleBonusPercent,FemaleBonusPercent,...,FemaleUpperMiddleQuartile,MaleTopQuartile,FemaleTopQuartile,CompanyLinkToGPGInfo,ResponsiblePerson,EmployerSize,CurrentName,SubmittedAfterTheDeadline,DueDate,DateSubmitted
7288,PRIME LIFE LIMITED,"Caenarvon House,\r\n121 Knighton Church Road,\...",02779611,86900,5.5,-92.3,-25.7,-93.0,1.0,1.6,...,84.8,19.4,80.6,https://www.prime-life.co.uk,Jay Hairsine (Company Secretary),1000 to 4999,PRIME LIFE LIMITED,False,05/04/2019 00:00:00,28/03/2019 12:36:23
7497,REALISE FUTURES CIC,"Realise Futures Cic,\r\nLovetofts Drive,\r\nIp...",07828443,"56102,\r\n82990,\r\n85590",-39.5,-90.7,0.0,0.0,0.0,0.0,...,78.8,9.5,90.5,https://www.realisefutures.org,Ramon Garcia (Human Resources Manager),250 to 499,Realise Futures Cic,False,05/04/2019 00:00:00,15/03/2019 11:21:14
7459,RANDSTAD HR SOLUTIONS LIMITED,"450 Capability Green,\r\nLuton,\r\nBedfordshir...",02904400,78200,-15.2,-87.1,-39.1,-1.9,80.0,67.0,...,100.0,85.0,15.0,https://www.randstad.co.uk/about-us/about-rand...,Graham Trevor (HR Director),1000 to 4999,RANDSTAD HR SOLUTIONS LIMITED,False,05/04/2019 00:00:00,29/03/2019 14:25:33
6442,NEWSQUEST MEDIA GROUP LIMITED,"Loudwater Mill,\r\nStation Road,\r\nHigh Wycom...",01676637,58130,-11.0,-82.0,1.2,-42.7,11.0,25.0,...,58.0,53.0,47.0,http://www.newsquest.co.uk/wp-content/uploads/...,Tracey Olaleye (Group HR Director),"5000 to 19,999",NEWSQUEST MEDIA GROUP LIMITED,False,05/04/2019 00:00:00,02/04/2019 11:47:06
10706,YELLOW DOT HOLDINGS LIMITED,"2 Crown Court,\r\nCrown Way,\r\nRushden,\r\nNo...",11159598,64209,-39.7,-80.7,-66.0,-636.4,66.7,64.7,...,98.8,2.4,97.6,https://www.brighthorizons.co.uk/statutory-inf...,John Handley (HR Director),250 to 499,YELLOW DOT HOLDINGS LIMITED,False,05/04/2019 00:00:00,15/03/2019 15:24:35

In [34]:
# no smallest hour% removed for 2018 GPG consistency

## Remove 2017 mean outliers

In [35]:
aorig.loc[aorig['DiffMeanHourlyPercent'].nlargest(5).index]

,EmployerName,Address,CompanyNumber,SicCodes,DiffMeanHourlyPercent,DiffMedianHourlyPercent,DiffMeanBonusPercent,DiffMedianBonusPercent,MaleBonusPercent,FemaleBonusPercent,...,FemaleUpperMiddleQuartile,MaleTopQuartile,FemaleTopQuartile,CompanyLinkToGPGInfo,ResponsiblePerson,EmployerSize,CurrentName,SubmittedAfterTheDeadline,DueDate,DateSubmitted
5950,MILLWALL HOLDINGS PLC,"The Den, Zampa Road,\r\nLondon,\r\nSE16 3LN",02355508,"93110,\r\n93199",159.0,0.0,99.0,99.0,29.0,3.0,...,31.0,64.0,36.0,NaN,Gina Walas (Human Resources Manager),Less than 250,MILLWALL HOLDINGS PLC,False,05/04/2018 00:00:00,05/04/2018 13:57:48
5970,MINT PAY SOLUTIONS LTD,"A&L,\r\nWindfall House D1, The Courtyard,\r\nA...",08189359,"78200,\r\n82990",94.0,97.0,0.0,0.0,0.0,0.0,...,4.0,99.0,1.0,NaN,Mo El-Bassyouni (Managing Director),250 to 499,MINT PAY SOLUTIONS LTD,True,05/04/2018 00:00:00,02/07/2018 11:30:39
8561,STOKE CITY FOOTBALL CLUB LIMITED,"Bet365 Stadium Stanley Matthews Way,\r\nStoke-...",00099885,93120,92.5,30.5,98.9,93.7,28.6,17.5,...,22.6,97.8,2.2,NaN,John Pelling (Head of Finance),250 to 499,STOKE CITY FOOTBALL CLUB LIMITED,False,05/04/2018 00:00:00,29/03/2018 13:42:37
1447,"BURNLEY FOOTBALL & ATHLETIC COMPANY, LIMITED(THE)","Turf Moor, Burnley,\r\nLancashire,\r\nBB10 4BX",00054222,93110,88.4,15.6,98.2,36.0,46.3,11.6,...,46.0,90.6,9.4,NaN,Ian Hargreaves (Financial Controller),500 to 999,"BURNLEY FOOTBALL & ATHLETIC COMPANY,LIMITED(THE)",False,05/04/2018 00:00:00,29/03/2018 14:02:54
8666,SWANSEA CITY ASSOCIATION FOOTBALL CLUB LIMITED...,"The Liberty Stadium,\r\nLandore,\r\nSwansea,\r...",00123414,93120,87.8,26.4,97.2,91.1,23.2,16.0,...,18.6,93.8,6.2,https://www.swanseacity.com/news/gender-pay-ga...,CHRISTOPHER PEARLMAN (CHIEF OPERATING OFFICER),250 to 499,SWANSEA CITY ASSOCIATION FOOTBALL CLUB LIMITED...,False,05/04/2018 00:00:00,29/03/2018 16:10:08

In [36]:
borig[(borig['EmployerName'] == 'MILLWALL HOLDINGS PLC') | (borig['CompanyNumber'] == '02355508')]

Empty DataFrame
Columns: [EmployerName, Address, CompanyNumber, SicCodes, DiffMeanHourlyPercent, DiffMedianHourlyPercent, DiffMeanBonusPercent, DiffMedianBonusPercent, MaleBonusPercent, FemaleBonusPercent, MaleLowerQuartile, FemaleLowerQuartile, MaleLowerMiddleQuartile, FemaleLowerMiddleQuartile, MaleUpperMiddleQuartile, FemaleUpperMiddleQuartile, MaleTopQuartile, FemaleTopQuartile, CompanyLinkToGPGInfo, ResponsiblePerson, EmployerSize, CurrentName, SubmittedAfterTheDeadline, DueDate, DateSubmitted]
Index: []

[0 rows x 25 columns]

In [37]:
aorig.drop(5950, inplace=True)

In [38]:
aorig.loc[aorig['DiffMeanHourlyPercent'].nsmallest(5).index]

,EmployerName,Address,CompanyNumber,SicCodes,DiffMeanHourlyPercent,DiffMedianHourlyPercent,DiffMeanBonusPercent,DiffMedianBonusPercent,MaleBonusPercent,FemaleBonusPercent,...,FemaleUpperMiddleQuartile,MaleTopQuartile,FemaleTopQuartile,CompanyLinkToGPGInfo,ResponsiblePerson,EmployerSize,CurrentName,SubmittedAfterTheDeadline,DueDate,DateSubmitted
2148,COMPLETE CARE HOLDINGS LIMITED,"1310 Solihull Parkway,\r\nBirmingham Business ...",04522416,86900,-400.0,-11.0,100.0,100.0,1.0,0.0,...,60.0,7.0,93.0,NaN,Steve Jeffers (Director of People),250 to 499,COMPLETE CARE HOLDINGS LIMITED,False,05/04/2018 00:00:00,02/04/2018 19:25:17
9767,UNITY CONTRACTING SERVICES LTD,"164-168 Cricklewood Broadway,\r\nLondon,\r\nUn...",05952128,43999,-69.4,-3.4,45.1,6.2,10.2,8.3,...,1.4,40.0,60.0,NaN,Bhavin Ruparelia (Operations Manager),250 to 499,Unity Contracting Services Ltd,False,05/04/2018 00:00:00,04/04/2018 19:37:32
2340,CREST PLUS OPERATIONS LIMITED,"Suite A1, The Quadrant Mercury Court,\r\nChest...",04620624,74909,-66.5,-85.2,0.0,0.0,0.0,0.0,...,3.2,81.2,18.8,https://www.crestplus.com/pay-gap-report.pdf,Derek Harling (Managing Director),1000 to 4999,CREST PLUS OPERATIONS LIMITED,False,05/04/2018 00:00:00,19/03/2018 14:01:24
7017,PLUS PAYROLL SERVICES LIMITED,"5th Floor Hampton By Hilton,\r\n42-50 Kimpton ...",08811568,78109,-64.4,-100.0,0.0,0.0,0.0,0.0,...,9.9,30.9,69.1,NaN,David Smith (Finance Director),500 to 999,PLUS PAYROLL SERVICES LIMITED,False,05/04/2018 00:00:00,04/04/2018 16:21:42
5685,MARS FOOD UK LIMITED,"3d Dundee Road,\r\nSlough,\r\nBerkshire,\r\nUn...",06649971,10890,-51.5,-18.3,-301.8,-157.5,96.6,97.9,...,39.1,59.4,40.6,http://www.mars.com/uk/en/about-us/gender-pay-...,Justine Weston (People and Organisation Manage...,250 to 499,MARS FOOD UK LIMITED,False,05/04/2018 00:00:00,29/03/2018 16:35:15

In [39]:
borig[(borig['EmployerName'] == 'COMPLETE CARE HOLDINGS LIMITED') | (borig['CompanyNumber'] == '04522416')]

,EmployerName,Address,CompanyNumber,SicCodes,DiffMeanHourlyPercent,DiffMedianHourlyPercent,DiffMeanBonusPercent,DiffMedianBonusPercent,MaleBonusPercent,FemaleBonusPercent,...,FemaleUpperMiddleQuartile,MaleTopQuartile,FemaleTopQuartile,CompanyLinkToGPGInfo,ResponsiblePerson,EmployerSize,CurrentName,SubmittedAfterTheDeadline,DueDate,DateSubmitted
2217,COMPLETE CARE HOLDINGS LIMITED,"1310 Solihull Parkway,\r\nBirmingham Business ...",04522416,86900,26.7,-11.0,0.0,0.0,1.1,0.7,...,92.0,18.0,82.0,http://www.completecare.co.uk/getmedia/52d5dee...,Steve Jeffers (Director of People),250 to 499,COMPLETE CARE HOLDINGS LIMITED,False,05/04/2019 00:00:00,03/04/2019 12:35:58

In [40]:
aorig.at[2148, 'DiffMeanHourlyPercent'] = -40.0

## Remove 2018 mean outliers

In [41]:
# No mean outliers to be removed
borig.loc[borig['DiffMeanHourlyPercent'].nlargest(5).index]

,EmployerName,Address,CompanyNumber,SicCodes,DiffMeanHourlyPercent,DiffMedianHourlyPercent,DiffMeanBonusPercent,DiffMedianBonusPercent,MaleBonusPercent,FemaleBonusPercent,...,FemaleUpperMiddleQuartile,MaleTopQuartile,FemaleTopQuartile,CompanyLinkToGPGInfo,ResponsiblePerson,EmployerSize,CurrentName,SubmittedAfterTheDeadline,DueDate,DateSubmitted
1219,BOOST PAY LIMITED,"Unit X, The Park The Street, Walberton,\r\nAru...",07123990,78200,93.1,41.7,NaN,NaN,0.0,0.0,...,1.0,99.3,0.7,NaN,Stephen Farrington (Operations Director),500 to 999,BOOST PAY LIMITED,True,05/04/2019 00:00:00,14/04/2019 12:16:23
9320,THE HUDDERSFIELD TOWN ASSOCIATION FOOTBALL CLU...,"The John Smith's Stadium Stadium Way, Leeds Ro...",01771361,93120,91.7,39.6,95.5,92.5,39.0,28.2,...,28.6,90.5,9.5,NaN,Julian Winter (Chief Executive Officer),250 to 499,THE HUDDERSFIELD TOWN ASSOCIATION FOOTBALL CLU...,False,05/04/2019 00:00:00,28/03/2019 15:17:42
8746,STOKE CITY FOOTBALL CLUB LIMITED,"Bet365 Stadium Stanley Matthews Way,\r\nStoke-...",00099885,93120,91.5,25.7,98.2,53.5,31.0,17.3,...,18.1,94.7,5.3,NaN,John Pelling (Head of Finance),250 to 499,STOKE CITY FOOTBALL CLUB LIMITED,False,05/04/2019 00:00:00,29/03/2019 14:16:58
1501,"BURNLEY FOOTBALL & ATHLETIC COMPANY,LIMITED(THE)","Turf Moor, Burnley,\r\nLancashire,\r\nBB10 4BX",00054222,93110,87.6,15.2,98.4,28.3,42.9,10.3,...,51.8,83.1,16.9,NaN,Ian Hargreaves (Financial Controller),500 to 999,"BURNLEY FOOTBALL & ATHLETIC COMPANY,LIMITED(THE)",False,05/04/2019 00:00:00,28/03/2019 08:49:12
8856,SWANSEA CITY ASSOCIATION FOOTBALL CLUB LIMITED...,"The Liberty Stadium,\r\nLandore,\r\nSwansea,\r...",00123414,93120,87.6,23.9,92.2,83.7,17.4,11.8,...,18.9,94.3,5.7,NaN,CHRISTOPHER PEARLMAN (COO),250 to 499,SWANSEA CITY ASSOCIATION FOOTBALL CLUB LIMITED...,False,05/04/2019 00:00:00,04/04/2019 15:16:07

In [42]:
# No mean outliers to be removed
borig.loc[borig['DiffMeanHourlyPercent'].nsmallest(5).index]

,EmployerName,Address,CompanyNumber,SicCodes,DiffMeanHourlyPercent,DiffMedianHourlyPercent,DiffMeanBonusPercent,DiffMedianBonusPercent,MaleBonusPercent,FemaleBonusPercent,...,FemaleUpperMiddleQuartile,MaleTopQuartile,FemaleTopQuartile,CompanyLinkToGPGInfo,ResponsiblePerson,EmployerSize,CurrentName,SubmittedAfterTheDeadline,DueDate,DateSubmitted
6080,MIHOMECARE LIMITED,1310 Solihull Parkway Birmingham Business Park...,03203080,86900,-98.7,7.5,61.6,65.3,3.5,2.9,...,84.0,17.0,83.0,http://www.mihomecare.com/wp-content/uploads/2...,Steve Jeffers (Director of People),1000 to 4999,MIHOMECARE LIMITED,False,05/04/2019 00:00:00,03/04/2019 12:36:21
5601,LONDONENERGY LTD,"Ecopark, Advent Way, Edmonton,\r\nLondon,\r\nN...",02732548,"35110,\r\n38210,\r\n38320",-65.1,-11.7,23.3,0.0,75.6,70.0,...,6.6,90.7,9.3,NaN,Mary Czulowski (Finance Director),250 to 499,LONDONENERGY LTD,False,05/04/2019 00:00:00,03/04/2019 05:53:13
5548,LOGOPLASTE UK LIMITED,"Suite 7 East Wing,\r\n100 Longwater Avenue,\r\...",03834369,"22220,\r\n70229,\r\n82990",-65.0,-18.0,-25.0,22.0,13.0,35.0,...,3.0,89.0,11.0,NaN,Lisa Hillburn (HR Director Europe),250 to 499,LOGOPLASTE UK LIMITED,False,05/04/2019 00:00:00,09/04/2018 09:47:47
5832,MARS FOOD UK LIMITED,"3d Dundee Road,\r\nSlough,\r\nBerkshire,\r\nUn...",06649971,10890,-62.0,-31.3,-439.1,-73.9,97.6,92.3,...,26.4,52.1,47.9,https://www.mars.co.uk/docs/default-source/def...,Justine Weston (People and Organisation Manager),250 to 499,MARS FOOD UK LIMITED,False,05/04/2019 00:00:00,03/04/2019 19:05:45
4024,GS YUASA BATTERY MANUFACTURING UK LIMITED,"Unit 22,\r\nRassau Industrial Estate,\r\nEbbw ...",01561536,27200,-56.2,-66.8,100.0,100.0,1.0,0.0,...,0.0,99.0,1.0,https://www.yuasa.co.uk/csr-policies-modern-sl...,Andrew Taylor (CEO),250 to 499,GS YUASA BATTERY MANUFACTURING UK LIMITED,False,05/04/2019 00:00:00,04/04/2019 09:58:55

## Both years name consistency

In [43]:
a_in_b = 0

for i in list(aorig['EmployerName']):
    if i in list(borig['EmployerName']):
        a_in_b += 1
    
print(f'2017 in 2018: {a_in_b}')
print(f'2017 not in 2018: {aorig.shape[0] - a_in_b}')

2017 in 2018: 9602
2017 not in 2018: 953

In [44]:
b_in_a = 0

for i in list(borig['EmployerName']):
    if i in list(aorig['EmployerName']):
        b_in_a += 1
    
print(f'2018 in 2017: {b_in_a}')
print(f'2018 not in 2017: {borig.shape[0] - b_in_a}')

2018 in 2017: 9602
2018 not in 2017: 1170

In [45]:
repeat_list = []

for i in list(aorig['EmployerName']):
    if i in list(borig['EmployerName']):
        repeat_list.append(i)
    
print(f'List length: {len(repeat_list)}')
print(f'{repeat_list[:5]}')

List length: 9602
['BRYANSTON SCHOOL,INCORPORATED', 'RED BAND CHEMICAL COMPANY, LIMITED', '118 LIMITED', '123 EMPLOYEES LTD', '1610 LIMITED']

In [46]:
# checking aorig NaNs
diff_comp_num = []

for i in repeat_list:
    if (pd.isnull(aorig[aorig['EmployerName'] == i].CompanyNumber.item()) == False) & \
    (aorig[aorig['EmployerName'] == i].CompanyNumber.item() != \
    borig[borig['EmployerName'] == i].CompanyNumber.item()):
            diff_comp_num.append(i)
            
print(f'# of companies with different company numbers: {len(diff_comp_num)}')
print(f'{diff_comp_num[:5]}')

# of companies with different company numbers: 1
['CONNECT HEALTH LIMITED']

In [47]:
# checking borig NaNs
diff_comp_num = []

for i in repeat_list:
    if (pd.isnull(borig[borig['EmployerName'] == i].CompanyNumber.item()) == False) & \
    (aorig[aorig['EmployerName'] == i].CompanyNumber.item() != \
    borig[borig['EmployerName'] == i].CompanyNumber.item()):
            diff_comp_num.append(i)
            
print(f'# of companies with different company numbers: {len(diff_comp_num)}')
print(f'{diff_comp_num[:5]}')

# of companies with different company numbers: 2
['CONNECT HEALTH LIMITED', 'TAUNTON SCHOOL EDUCATIONAL CHARITY']

In [48]:
aorig[aorig['EmployerName'] == 'CONNECT HEALTH LIMITED']

,EmployerName,Address,CompanyNumber,SicCodes,DiffMeanHourlyPercent,DiffMedianHourlyPercent,DiffMeanBonusPercent,DiffMedianBonusPercent,MaleBonusPercent,FemaleBonusPercent,...,FemaleUpperMiddleQuartile,MaleTopQuartile,FemaleTopQuartile,CompanyLinkToGPGInfo,ResponsiblePerson,EmployerSize,CurrentName,SubmittedAfterTheDeadline,DueDate,DateSubmitted
2168,CONNECT HEALTH LIMITED,"Q2 Benton Lane,,\r\nNewcastle Upon Tyne,\r\nEn...",09701038,99999,16.2,20.5,-8.0,0.0,2.0,4.0,...,52.0,51.0,49.0,http://www.connecthealth.co.uk,Lisa Davidson (HR Director),250 to 499,CONNECT PHYSICAL HEALTH CENTRES LIMITED,False,05/04/2018 00:00:00,03/04/2018 08:37:57

In [49]:
borig[borig['EmployerName'] == 'CONNECT HEALTH LIMITED']

,EmployerName,Address,CompanyNumber,SicCodes,DiffMeanHourlyPercent,DiffMedianHourlyPercent,DiffMeanBonusPercent,DiffMedianBonusPercent,MaleBonusPercent,FemaleBonusPercent,...,FemaleUpperMiddleQuartile,MaleTopQuartile,FemaleTopQuartile,CompanyLinkToGPGInfo,ResponsiblePerson,EmployerSize,CurrentName,SubmittedAfterTheDeadline,DueDate,DateSubmitted
2240,CONNECT HEALTH LIMITED,"The Light Box Quorum Business Park,\r\nBenton ...",02337692,86900,18.4,9.4,48.2,0.0,9.7,7.9,...,56.0,45.0,55.0,https://www.connecthealth.co.uk/wp-content/upl...,Lisa Davidson (HR Director),500 to 999,CONNECT HEALTH LIMITED,False,05/04/2019 00:00:00,21/03/2019 10:39:12

In [50]:
print(aorig.at[2168, 'CompanyNumber'])
aorig.at[2168, 'CompanyNumber'] = '02337692'
print(aorig.at[2168, 'CompanyNumber'])

09701038
02337692

In [51]:
aorig[aorig['EmployerName'] == 'TAUNTON SCHOOL EDUCATIONAL CHARITY']

,EmployerName,Address,CompanyNumber,SicCodes,DiffMeanHourlyPercent,DiffMedianHourlyPercent,DiffMeanBonusPercent,DiffMedianBonusPercent,MaleBonusPercent,FemaleBonusPercent,...,FemaleUpperMiddleQuartile,MaleTopQuartile,FemaleTopQuartile,CompanyLinkToGPGInfo,ResponsiblePerson,EmployerSize,CurrentName,SubmittedAfterTheDeadline,DueDate,DateSubmitted
8791,TAUNTON SCHOOL EDUCATIONAL CHARITY,"Clerk To The Governors,\r\nTaunton,\r\nSomerse...",NaN,85310,9.4,13.7,23.9,17.9,1.0,2.3,...,62.5,44.1,55.9,NaN,Johanne Davey (HR Director),500 to 999,Taunton School Educational Charity,False,05/04/2018 00:00:00,27/03/2018 13:55:38

In [52]:
borig[borig['EmployerName'] == 'TAUNTON SCHOOL EDUCATIONAL CHARITY']

,EmployerName,Address,CompanyNumber,SicCodes,DiffMeanHourlyPercent,DiffMedianHourlyPercent,DiffMeanBonusPercent,DiffMedianBonusPercent,MaleBonusPercent,FemaleBonusPercent,...,FemaleUpperMiddleQuartile,MaleTopQuartile,FemaleTopQuartile,CompanyLinkToGPGInfo,ResponsiblePerson,EmployerSize,CurrentName,SubmittedAfterTheDeadline,DueDate,DateSubmitted
8991,TAUNTON SCHOOL EDUCATIONAL CHARITY,"Taunton School, Staplegrove Road,\r\nTaunton,\...",04005803,"85100,\r\n85200,\r\n85310",12.4,21.9,-2.0,-1.7,2.0,3.0,...,58.4,40.6,59.4,NaN,Johanne Davey (HR Director),500 to 999,TAUNTON SCHOOL EDUCATIONAL CHARITY,False,05/04/2019 00:00:00,04/04/2019 09:12:38

In [53]:
print(aorig.at[8791, 'CompanyNumber'])
aorig.at[8791, 'CompanyNumber'] = '04005803'
print(aorig.at[8791, 'CompanyNumber'])

nan
04005803

In [54]:
# companies with same names are checked

In [55]:
diff_list = []

for i in list(aorig['EmployerName']):
    if i not in list(borig['EmployerName']):
        diff_list.append(i)
        
for i in list(borig['EmployerName']):
    if i not in list(aorig['EmployerName']):
        diff_list.append(i) 
    
print(f'List length of non-repeating companies: {len(diff_list)}')
print(f'{diff_list[:5]}')

List length of non-repeating companies: 2123
['1879 EVENTS MANAGEMENT LIMITED', '2 SISTERS RED MEAT LIMITED', 'A M SUPPORT SERVICES LIMITED', 'A NOVO UK LTD', 'A P SECURITY (APS) LTD']

In [56]:
new_comp_num = []

for i in diff_list:
    
    if i in list(aorig['EmployerName']):
        if pd.isnull(aorig[aorig['EmployerName'] == i].CompanyNumber.item()) == False:
            new_comp_num.append(aorig[aorig['EmployerName'] == i].CompanyNumber.item())
            
    if i in list(borig['EmployerName']):
        if pd.isnull(borig[borig['EmployerName'] == i].CompanyNumber.item()) == False:
            new_comp_num.append(borig[borig['EmployerName'] == i].CompanyNumber.item())
            
            
new_comp_num = list(set([x for x in new_comp_num if new_comp_num.count(x) > 1]))
    
print(f'# of companies that share company number but different names: {len(new_comp_num)}')

# of companies that share company number but different names: 265

In [57]:
# show high variation in names
for i in new_comp_num[:5]:
    print(aorig[aorig.CompanyNumber == i].EmployerName.item())
    print(borig[borig.CompanyNumber == i].EmployerName.item())

CAS LEARNING DISABILITIES LIMITED
CYGNET LEARNING DISABILITIES LIMITED
FIDESSA PLC
FIDESSA TRADING UK LIMITED
ASSYSTEM UK LIMITED
EXPLEO ENGINEERING UK LIMITED
SEAFOOD HOLDINGS LTD
BIDFRESH LIMITED
EMBRACE CARE LIMITED
SANCTUARY CARE (NORTH) LIMITED

In [58]:
# show low variation in address
for i in new_comp_num[:5]:
    print(aorig[aorig.CompanyNumber == i].Address.item())
    print(borig[borig.CompanyNumber == i].Address.item())

Nepicar House London Road,
Wrotham Heath,
Sevenoaks,
Kent,
England,
TN15 7RS
Nepicar House London Road,
Wrotham Heath,
Sevenoaks,
Kent,
England,
TN15 7RS
C/O Ion,
3rd Floor, One New Change,
London,
England,
EC4M 9AF
C/O Ion,
3rd Floor, One New Change,
London,
England,
EC4M 9AF
Expleo Engineering Uk Limited Club Street,
Bamber Bridge,
Preston,
Lancashire,
England,
PR5 6FN
Expleo Engineering Uk Limited Club Street,
Bamber Bridge,
Preston,
Lancashire,
England,
PR5 6FN
Unit 10-14 Cedar Way Industrial Estate,
Camley Street,
London,
United Kingdom,
N1C 4PD
Unit 10-14 Cedar Way Industrial Estate,
Camley Street,
London,
United Kingdom,
N1C 4PD
Sanctuary House, Chamber Court, Castle Street,
Worcester,
England,
WR1 3ZQ
Sanctuary House, Chamber Court, Castle Street,
Worcester,
England,
WR1 3ZQ

In [59]:
print(aorig[aorig.CompanyNumber == new_comp_num[0]]['EmployerName'].item())
print(borig[borig.CompanyNumber == new_comp_num[0]]['EmployerName'].item())

CAS LEARNING DISABILITIES LIMITED
CYGNET LEARNING DISABILITIES LIMITED

In [60]:
corr_address_num = []
diff_address_num = []

for i in new_comp_num:
    
    if aorig[aorig.CompanyNumber == i].Address.item() == \
        borig[borig.CompanyNumber == i].Address.item():
            
            aorig.at[aorig[aorig.CompanyNumber == i].index.item(), 'EmployerName'] = \
                borig[borig.CompanyNumber == i].EmployerName.item()
            
            corr_address_num.append(i)
            
    else:
        
        diff_address_num.append(i)
    
print(f'# of 2017 companies converted to 2018 name: {len(corr_address_num)}')
print(f'Companies not corrected: {len(diff_address_num)}')

# of 2017 companies converted to 2018 name: 265
Companies not corrected: 0

In [61]:
print(aorig[aorig.CompanyNumber == new_comp_num[0]]['EmployerName'].item())
print(borig[borig.CompanyNumber == new_comp_num[0]]['EmployerName'].item())

CYGNET LEARNING DISABILITIES LIMITED
CYGNET LEARNING DISABILITIES LIMITED

In [62]:
same_list = []
diff_list = []

for i in list(aorig['EmployerName']):
    if i in list(borig['EmployerName']):
        same_list.append(i)

for i in list(aorig['EmployerName']):
    if i not in list(borig['EmployerName']):
        diff_list.append(i)
        
for i in list(borig['EmployerName']):
    if i not in list(aorig['EmployerName']):
        diff_list.append(i) 

print(f'New length of repeating companies: {len(same_list)}')
print(f'New length of non-repeating companies: {len(diff_list)}')
print(f'New length combined: {len(same_list) + len(diff_list)}')

New length of repeating companies: 9867
New length of non-repeating companies: 1593
New length combined: 11460

In [63]:
# aorig.to_csv('2017clean1.csv')
# borig.to_csv('2018clean1.csv')

In [ ]:
# continued at 03.2