In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import re

In [ ]:
### build in postcode aspect

In [2]:
pd.set_option('display.max_colwidth', -1)

In [3]:
aorig = pd.read_csv('2017clean1.csv', header=0, index_col=0)
borig = pd.read_csv('2018clean1.csv', header=0, index_col=0)

print(aorig.shape)
print(borig.shape)
aorig.head(2)

(10555, 25)
(10772, 25)

,EmployerName,Address,CompanyNumber,SicCodes,DiffMeanHourlyPercent,DiffMedianHourlyPercent,DiffMeanBonusPercent,DiffMedianBonusPercent,MaleBonusPercent,FemaleBonusPercent,...,FemaleUpperMiddleQuartile,MaleTopQuartile,FemaleTopQuartile,CompanyLinkToGPGInfo,ResponsiblePerson,EmployerSize,CurrentName,SubmittedAfterTheDeadline,DueDate,DateSubmitted
0,"BRYANSTON SCHOOL,INCORPORATED","Bryanston House,\r\r\nBlandford,\r\r\nDorset,\r\r\nUnited Kingdom,\r\r\nDT11 0PX",00226143,85310,18.0,28.2,0.0,0.0,0.0,0.0,...,50.8,51.5,48.5,https://www.bryanston.co.uk/employment,Nick McRobb (Bursar and Clerk to the Governors),500 to 999,"""Bryanston School"",Incorporated",False,05/04/2018 00:00:00,27/03/2018 11:42:49
1,"RED BAND CHEMICAL COMPANY, LIMITED","19 Smith's Place,\r\r\nLeith Walk,\r\r\nEdinburgh,\r\r\nEH6 8NU",SC016876,47730,2.3,-2.7,15.0,37.5,15.6,66.7,...,89.7,18.1,81.9,NaN,Philip Galt (Managing Director),250 to 499,"""RED BAND"" CHEMICAL COMPANY, LIMITED",False,05/04/2018 00:00:00,28/03/2018 16:44:25

In [4]:
def postcode(x):
    x = x.upper()
    found = re.findall(r'\b[A-Z]{1,2}[0-9][A-Z0-9]? [0-9][ABD-HJLNP-UW-Z]{2}\b', x)
    output = None
    
    if len(found) > 0:
        output = found[0]
    else:
        found = re.findall(r'\b[A-Z]{1,2}[0-9][A-Z0-9]?[0-9][ABD-HJLNP-UW-Z]{2}\b', x)
        if len(found) > 0:
            found = str(found[0])
            if len(found) % 2 == 0:
                output = found[:int(len(found)/2)] + ' ' + found[int(len(found)/2):]
            else:
                output = found[:int((len(found)+1)/2)] + ' ' + found[int((len(found)+1)/2):]
                
    return output
            
def postlen(x):
    return len(re.findall(r'\b[A-Z]{1,2}[0-9][A-Z0-9]? [0-9][ABD-HJLNP-UW-Z]{2}\b', x))

In [5]:
aorig['Post'] = aorig['Address'].apply(postcode)
borig['Post'] = borig['Address'].apply(postcode)

aorig['PostLen'] = aorig['Address'].apply(postlen)
borig['PostLen'] = borig['Address'].apply(postlen)

aorig.head(2)

,EmployerName,Address,CompanyNumber,SicCodes,DiffMeanHourlyPercent,DiffMedianHourlyPercent,DiffMeanBonusPercent,DiffMedianBonusPercent,MaleBonusPercent,FemaleBonusPercent,...,FemaleTopQuartile,CompanyLinkToGPGInfo,ResponsiblePerson,EmployerSize,CurrentName,SubmittedAfterTheDeadline,DueDate,DateSubmitted,Post,PostLen
0,"BRYANSTON SCHOOL,INCORPORATED","Bryanston House,\r\r\nBlandford,\r\r\nDorset,\r\r\nUnited Kingdom,\r\r\nDT11 0PX",00226143,85310,18.0,28.2,0.0,0.0,0.0,0.0,...,48.5,https://www.bryanston.co.uk/employment,Nick McRobb (Bursar and Clerk to the Governors),500 to 999,"""Bryanston School"",Incorporated",False,05/04/2018 00:00:00,27/03/2018 11:42:49,DT11 0PX,1
1,"RED BAND CHEMICAL COMPANY, LIMITED","19 Smith's Place,\r\r\nLeith Walk,\r\r\nEdinburgh,\r\r\nEH6 8NU",SC016876,47730,2.3,-2.7,15.0,37.5,15.6,66.7,...,81.9,NaN,Philip Galt (Managing Director),250 to 499,"""RED BAND"" CHEMICAL COMPANY, LIMITED",False,05/04/2018 00:00:00,28/03/2018 16:44:25,EH6 8NU,1

In [6]:
print(aorig['PostLen'].value_counts())
print(borig['PostLen'].value_counts())

1    10458
0    91
2    6
Name: PostLen, dtype: int64
1    10668
0    98
2    6
Name: PostLen, dtype: int64

In [7]:
print(len(aorig[aorig['Post'].isnull()]))
print(len(borig[borig['Post'].isnull()]))

41
38

In [8]:
def is_fc(x):
    if str(x).upper()[:2] == 'FC':
        return 'FC'

In [9]:
aorig['Post2'] = aorig['CompanyNumber'].apply(is_fc)
borig['Post2'] = borig['CompanyNumber'].apply(is_fc)

aorig.head(2)

,EmployerName,Address,CompanyNumber,SicCodes,DiffMeanHourlyPercent,DiffMedianHourlyPercent,DiffMeanBonusPercent,DiffMedianBonusPercent,MaleBonusPercent,FemaleBonusPercent,...,CompanyLinkToGPGInfo,ResponsiblePerson,EmployerSize,CurrentName,SubmittedAfterTheDeadline,DueDate,DateSubmitted,Post,PostLen,Post2
0,"BRYANSTON SCHOOL,INCORPORATED","Bryanston House,\r\r\nBlandford,\r\r\nDorset,\r\r\nUnited Kingdom,\r\r\nDT11 0PX",00226143,85310,18.0,28.2,0.0,0.0,0.0,0.0,...,https://www.bryanston.co.uk/employment,Nick McRobb (Bursar and Clerk to the Governors),500 to 999,"""Bryanston School"",Incorporated",False,05/04/2018 00:00:00,27/03/2018 11:42:49,DT11 0PX,1,None
1,"RED BAND CHEMICAL COMPANY, LIMITED","19 Smith's Place,\r\r\nLeith Walk,\r\r\nEdinburgh,\r\r\nEH6 8NU",SC016876,47730,2.3,-2.7,15.0,37.5,15.6,66.7,...,NaN,Philip Galt (Managing Director),250 to 499,"""RED BAND"" CHEMICAL COMPANY, LIMITED",False,05/04/2018 00:00:00,28/03/2018 16:44:25,EH6 8NU,1,None

In [10]:
# ensure to not overwrite postcodes with FC
print(len(aorig[aorig['Post2'] == 'FC']))
print(len(borig[borig['Post2'] == 'FC']))

33
32

In [11]:
print(len(aorig[(aorig['Post'].isnull()) & (aorig['Post2'] != 'FC')]))
print(len(borig[(borig['Post'].isnull()) & (borig['Post2'] != 'FC')]))

26
23

In [12]:
for i in range(len(aorig)):
    
    if aorig.iloc[i, 25] == None:
        if aorig.iloc[i, 27] != None:
            aorig.iloc[i, 25] = aorig.iloc[i, 27]
            
aorig[aorig['Post2'] == 'FC'][:10]

,EmployerName,Address,CompanyNumber,SicCodes,DiffMeanHourlyPercent,DiffMedianHourlyPercent,DiffMeanBonusPercent,DiffMedianBonusPercent,MaleBonusPercent,FemaleBonusPercent,...,CompanyLinkToGPGInfo,ResponsiblePerson,EmployerSize,CurrentName,SubmittedAfterTheDeadline,DueDate,DateSubmitted,Post,PostLen,Post2
400,AMBER FOODS LIMITED,"No2, The Forum,\r\r\nGrenville Street,\r\r\nSt Helier,\r\r\nJersey,\r\r\nJE1 4HH",FC029206,NaN,8.0,1.6,100.0,100.0,0.7,0.0,...,https://www.2sfg.com/about-us/how-we-work/gender/,Nigel Perry (Group People & Change Director),250 to 499,AMBER FOODS LIMITED,False,05/04/2018 00:00:00,27/03/2018 14:45:46,JE1 4HH,1,FC
665,AT&T GLOBAL NETWORK SERVICES (UK) B.V.,"Highfield House,\r\r\nHeadless Cross Drive,\r\r\nREDDITCH,\r\r\nWORCESTERSHIRE,\r\r\nUnited Kingdom,\r\r\nB97 5EQ",FC021840,NaN,10.7,9.3,18.6,9.3,97.9,97.5,...,https://www.corp.att.com/wp-content/assets/content/worldwide/11/att-pay-gap-report-0402_2pm.pdf,Michael Springham (Director AT&T Global Network Services (UK) B.V.),500 to 999,AT&T Global Network Services (UK) B.V.,False,05/04/2018 00:00:00,03/04/2018 15:44:14,B97 5EQ,1,FC
680,ATRADIUS CRÃ‰DITO Y CAUCIÃ“N S.A. DE SEGUROS Y REASEGUROS,"3 Harbour Drive,\r\r\nCapital Waterside,\r\r\nCARDIFF,\r\r\nCF10 4WZ",FC033828,NaN,16.1,18.1,32.1,24.4,89.4,91.4,...,https://www.atradius.co.uk,Alun Sweeney (Director Atradius UK & Ireland),250 to 499,ATRADIUS CRÃ‰DITO Y CAUCIÃ“N S.A. DE SEGUROS Y REASEGUROS,False,05/04/2018 00:00:00,28/03/2018 17:39:12,CF10 4WZ,1,FC
766,B & M INVESTMENTS LIMITED,"Old Town Court,\r\r\n70 Queensway,\r\r\nHEMEL HEMPSTEAD,\r\r\nHERTFORDSHIRE,\r\r\nHP2 5HD",FC008606,NaN,0.1,8.1,-32.8,57.6,51.9,67.6,...,http://www.bmcare.co.uk/about-us/gender-pay-gap/,Trinna Bruton (Finance Director),250 to 499,B & M INVESTMENTS LIMITED,False,05/04/2018 00:00:00,23/03/2018 10:50:37,HP2 5HD,1,FC
807,BAIN & COMPANY INC. UNITED KINGDOM,"131 Dartmouth Street,\r\r\n8th Floor,\r\r\nBoston,\r\r\nMa 02116,\r\r\nUnited States",FC014328,NaN,29.7,36.0,79.7,75.0,92.4,83.9,...,http://www.bain.com/offices/london/en_us/who-we-are/our-team/gender-pay-gap.aspx,Michael Garstka (Director),500 to 999,BAIN & COMPANY INC. UNITED KINGDOM,False,05/04/2018 00:00:00,29/03/2018 14:03:12,FC,0,FC
2081,CNH INDUSTRIAL N.V.,"25 St. James's Street,\r\r\nLondon,\r\r\nLondon,\r\r\nUnited Kingdom,\r\r\nSW1A 1HA",FC031116,NaN,-1.0,-28.0,64.0,25.0,36.0,64.0,...,NaN,Edmund Kerley (HR Director),500 to 999,CNH INDUSTRIAL N.V.,False,05/04/2018 00:00:00,29/03/2018 12:52:01,SW1A 1HA,1,FC
2129,COMMERZBANK AKTIENGESELLSCHAFT,"30 Gresham Street,\r\r\nLONDON,\r\r\nLONDON,\r\r\nUnited Kingdom,\r\r\nEC2V 7PG",FC008139,NaN,36.3,33.9,55.3,39.0,95.7,98.7,...,https://www.commerzbank.de/en/hauptnavigation/karriere/arbeiten_bei_der_commerzbank/diversity___/diversity.html,Til Schlummer (London CEO),500 to 999,Commerzbank Aktiengesellschaft,False,05/04/2018 00:00:00,29/03/2018 11:11:48,EC2V 7PG,1,FC
2175,CONSTELLATION HOTEL (OPCO) UK S.A.,"15 Boulevard Roosevelt,\r\r\nLuxembourg 2450,\r\r\nLuxembourg",FC031505,NaN,7.3,5.7,14.0,46.2,65.0,48.9,...,NaN,Eileen Sexton-Adams (Human Resource Director),250 to 499,REGIS HOTEL (OPCO) UK S.A.,False,05/04/2018 00:00:00,28/03/2018 14:27:24,FC,0,FC
2202,COÃ–PERATIEVE RABOBANK U.A.,"Thames Court,\r\r\n1 Queenhithe,\r\r\nLONDON,\r\r\nLONDON,\r\r\nUK,\r\r\nEC4V 3RL",FC011780,NaN,20.2,22.2,48.1,28.0,88.0,93.0,...,https://www.rabobank.com/nl/about-rabobank/in-society/diversity/gender-diversity-targets/index.html,Tamira Treffers-Herrera (Regional Head Europe & General Manager London),500 to 999,COÃ–PERATIEVE RABOBANK U.A.,False,05/04/2018 00:00:00,15/01/2018 08:45:48,EC4V 3RL,1,FC
2330,CREDIT AGRICOLE CIB,"1ST FLOOR, BROADWALK HOUSE,\r\r\n5 APPOLD STREET,\r\r\nLONDON,\r\r\nLONDON,\r\r\nUnited Kingdom,\r\r\nEC2A 2DA",FC026076,64191,31.6,35.4,53.1,65.3,88.4,87.3,...,https://www.ca-cib.com/about-us/financial-information/regulated-information,Daniel Puyo (Senior Country Officer),500 to 999,Credit Agricole CIB,False,05/04/2018 00:00:00,26/03/2018 15:05:43,EC2A 2DA,1,FC

In [13]:
for i in range(len(borig)):
    
    if borig.iloc[i, 25] == None:
        if borig.iloc[i, 27] != None:
            borig.iloc[i, 25] = borig.iloc[i, 27]
            
borig[borig['Post2'] == 'FC']

,EmployerName,Address,CompanyNumber,SicCodes,DiffMeanHourlyPercent,DiffMedianHourlyPercent,DiffMeanBonusPercent,DiffMedianBonusPercent,MaleBonusPercent,FemaleBonusPercent,...,CompanyLinkToGPGInfo,ResponsiblePerson,EmployerSize,CurrentName,SubmittedAfterTheDeadline,DueDate,DateSubmitted,Post,PostLen,Post2
416,AMBER FOODS LIMITED,"No2, The Forum,\r\r\nGrenville Street,\r\r\nSt Helier,\r\r\nJersey,\r\r\nJE1 4HH",FC029206,NaN,13.9,3.6,0.0,0.0,2.5,1.5,...,http://www.2sfg.com/how-we-work/gender/,Lee Greenbury (Group Director of People & Compliance),250 to 499,AMBER FOODS LIMITED,False,05/04/2019 00:00:00,04/04/2019 15:22:34,JE1 4HH,1,FC
699,AT&T GLOBAL NETWORK SERVICES (UK) B.V.,"Highfield House,\r\r\nHeadless Cross Drive,\r\r\nREDDITCH,\r\r\nWORCESTERSHIRE,\r\r\nUnited Kingdom,\r\r\nB97 5EQ",FC021840,NaN,8.9,6.8,25.6,7.9,88.6,95.0,...,https://www.corp.att.com/wp-content/uploads/sites/121/2019/03/ATT-Pay-Gap-Report_MARCH_2019_032019_FINAL.pdf,Michael Springham (Director AT&T Global Network Services (UK) B.V.),500 to 999,AT&T Global Network Services (UK) B.V.,False,05/04/2019 00:00:00,29/03/2019 13:49:24,B97 5EQ,1,FC
724,ATRADIUS CRÃ‰DITO Y CAUCIÃ“N S.A. DE SEGUROS Y REASEGUROS,"3 Harbour Drive,\r\r\nCapital Waterside,\r\r\nCARDIFF,\r\r\nCF10 4WZ",FC033828,NaN,14.4,16.6,27.9,27.4,88.8,91.9,...,https://atradius.co.uk/article/uk-gender-pay-statement.html,Alun Sweeney (Director Atradius UK and Ireland),250 to 499,ATRADIUS CRÃ‰DITO Y CAUCIÃ“N S.A. DE SEGUROS Y REASEGUROS,False,05/04/2019 00:00:00,27/03/2019 15:58:29,CF10 4WZ,1,FC
810,B & M INVESTMENTS LIMITED,"Old Town Court,\r\r\n70 Queensway,\r\r\nHEMEL HEMPSTEAD,\r\r\nHERTFORDSHIRE,\r\r\nHP2 5HD",FC008606,NaN,-3.6,1.3,-33.4,-6.0,62.2,66.0,...,https://www.bmcare.co.uk,Trinna Bruton (Finance Director),250 to 499,B & M INVESTMENTS LIMITED,False,05/04/2019 00:00:00,18/03/2019 10:17:21,HP2 5HD,1,FC
853,BAIN & COMPANY INC. UNITED KINGDOM,"131 Dartmouth Street,\r\r\n8th Floor,\r\r\nBoston,\r\r\nMa 02116,\r\r\nUnited States",FC014328,NaN,29.7,29.5,80.9,67.1,90.5,86.3,...,https://www.bain.com/about/striving-for-parity/,Michael Garstka (Managing Partner),500 to 999,BAIN & COMPANY INC. UNITED KINGDOM,False,05/04/2019 00:00:00,04/04/2019 20:15:09,FC,0,FC
2150,CNH INDUSTRIAL N.V.,"25 St. James's Street,\r\r\nLondon,\r\r\nLondon,\r\r\nUnited Kingdom,\r\r\nSW1A 1HA",FC031116,NaN,1.6,-10.8,56.5,16.1,30.4,46.6,...,NaN,Edmund Kerley (HR Director),1000 to 4999,CNH INDUSTRIAL N.V.,False,05/04/2019 00:00:00,29/03/2019 11:32:24,SW1A 1HA,1,FC
2196,COMMERZBANK AKTIENGESELLSCHAFT,"30 Gresham Street,\r\r\nLONDON,\r\r\nLONDON,\r\r\nUnited Kingdom,\r\r\nEC2V 7PG",FC008139,NaN,39.3,33.6,59.7,50.0,98.0,98.6,...,https://www.commerzbank.de/media/karriere/diversity_neu/Commerzbank_Gender_Pay_Gap_2019.pdf,Til Schlummer (CI Regional Board Member and London CEO),500 to 999,Commerzbank Aktiengesellschaft,False,05/04/2019 00:00:00,01/04/2019 10:31:41,EC2V 7PG,1,FC
2251,CONSTELLATION HOTEL (OPCO) UK S.A.,"15 Boulevard Roosevelt,\r\r\nLuxembourg 2450,\r\r\nLuxembourg",FC031505,NaN,13.4,11.4,-7.5,15.4,79.3,60.9,...,NaN,Eileen Sexton-Adams (Human Resource Director),250 to 499,REGIS HOTEL (OPCO) UK S.A.,False,05/04/2019 00:00:00,02/04/2019 17:28:40,FC,0,FC
2272,COÃ–PERATIEVE RABOBANK U.A.,"Thames Court,\r\r\n1 Queenhithe,\r\r\nLONDON,\r\r\nLONDON,\r\r\nUK,\r\r\nEC4V 3RL",FC011780,NaN,21.2,24.2,49.2,40.7,88.0,89.0,...,https://www.rabobank.com/nl/images/gender-pay-gap-2018.pdf,Tamira Treffers-Herrera (General Manager London),250 to 499,COÃ–PERATIEVE RABOBANK U.A.,False,05/04/2019 00:00:00,03/04/2019 15:43:23,EC4V 3RL,1,FC
2399,CREDIT AGRICOLE CIB,"1ST FLOOR, BROADWALK HOUSE,\r\r\n5 APPOLD STREET,\r\r\nLONDON,\r\r\nLONDON,\r\r\nUnited Kingdom,\r\r\nEC2A 2DA",FC026076,64191,30.6,36.0,52.5,66.5,89.9,87.9,...,https://www.ca-cib.com/about-us/financial-information/regulated-information,Daniel Puyo (Senior Country Officer),500 to 999,Credit Agricole CIB,False,05/04/2019 00:00:00,01/04/2019 15:36:32,EC2A 2DA,1,FC
3014,ELAVON FINANCIAL SERVICES DAC,"4th Floor,\r\r\nMeridien House,\r\r\n69-71 Clarendon Road,\r\r\nWatford,\r\r\nHertfordshire,\r\r\nUnited Kingdom,\r\r\nWD17 1DS",FC027535,NaN,13.0,12.2,48.0,50.7,94.0,96.0,...,https://www.elavon.co.uk/about-elavon/legal.html,Ismat Aziz (Chief Human Resources Officer),250 to 499,Elavon Financial Services Dac,False,05/04/2019 00:00:00,03/04/2019 15:20:23,WD17 1DS,1,FC
3130,EPSON EUROPE B.V.,"Branch Registration, Refer To Parent Registry",FC031558,NaN,20.5,20.2,12.7,3.7,14.6,16.2,...,https://www.epson.co.uk/viewcon/corporatesite/cms/index/13016,Robert Clark (Senior Vice President),250 to 499,EPSON EUROPE B.V.,False,05/04/2019 00:00:00,02/04/2019 10:59:14,FC,0,FC
3205,EUROCLEAR SA/NV,"33 Canon Street,\r\r\nLondon,\r\r\nUnited Kingdom,\r\r\nEC4M 5SB",FC025700,NaN,26.7,32.2,38.5,44.5,98.4,99.1,...,https://www.euroclear.com/ourresponsibility/en/workplace/gender-pay-gap-reporting-in-the-uk.html,John Trundle (CEO Euroclear UK & Ireland),250 to 499,Euroclear Sa/Nv,False,05/04/2019 00:00:00,03/04/2019 10:26:42,EC4M 5SB,1,FC
3760,GENERAL CONTRACTING (U.K.) LIMITED,"Cannon's Court, 22 Victoria Street,\r\r\nHamilton,\r\r\nHm 12 Bermuda,\r\r\nBermuda",FC017178,NaN,23.5,3.5,64.2,10.5,95.0,89.0,...,https://9d73f7099e411da67c32-506eea739f5d49c899d884652783e970.ssl.cf3.rackcdn.com/misc/gender_pay_gap_2018.pdf,John Homer (Managing Director),250 to 499,GENERAL CONTRACTING (U.K.) LIMITED,False,05/04/2019 00:00:00,19/02/2019 16:31:45,FC,0,FC
4030,GTC INFRASTRUCTURE LIMITED,"Martello Court, Admiral Park,\r\r\nSt Peter Port,\r\r\nGuernsey,\r\r\nGY1 3HB",FC020169,NaN,37.0,39.0,79.0,84.0,57.0,39.0,...,https://www.gtc-uk.co.uk,Paul Edwards (Director of Customer Services),500 to 999,GTC INFRASTRUCTURE LIMITED,False,05/04/2019 00:00:00,26/03/2019 10:12:34,GY1 3HB,1,FC
4486,HSBC HOLDINGS B.V.,"Branch Registration,\r\r\nRefer To Parent Registry",FC023737,NaN,50.0,41.0,64.0,51.0,100.0,100.0,...,https://www.hsbc.com/-/files/hsbc/our-approach/measuring-our-impact/pdfs/181218-uk-gender-pay-gap-report-2017-2018.pdf?download=1.,Elaine Arden (Group Head of HR),250 to 499,HSBC HOLDINGS B.V.,False,05/04/2019 00:00:00,18/12/2018 11:19:06,FC,0,FC
4699,INSURE THE BOX LIMITED,"88 Leadenhall Street,\r\r\nLONDON,\r\r\nLONDON,\r\r\nEC3A 3BP",FC031762,NaN,21.3,14.8,100.0,100.0,2.0,0.0,...,NaN,Andy Preacher (People & Culture Director),250 to 499,INSURE THE BOX LIMITED,False,05/04/2019 00:00:00,02/04/2019 17:16:23,EC3A 3BP,1,FC
6105,MINDTREE LIMITED,"Global Village Rvce Post Mylasandra, Mysore Road,\r\r\nBangalore,\r\r\n560059,\r\r\nIndia",FC023141,NaN,14.0,14.0,4.0,4.0,85.0,80.0,...,https://www.mindtree.com/sites/default/files/2019-04/uk-gender-gap-report-2019.pdf,Rostow Ravanan (Chief Executive Officer and Managing Director),250 to 499,MINDTREE LIMITED,False,05/04/2019 00:00:00,04/04/2019 20:34:06,FC,0,FC
6133,MITSUBISHI ELECTRIC EUROPE B.V.,"Capronilaan 46,\r\r\n1119ns,\r\r\nSchipol-Rijk,\r\r\nThe Netherlands,\r\r\nNetherlands",FC019156,NaN,30.9,34.4,51.6,52.3,72.8,73.6,...,NaN,Yoji Saito (President & CEO),500 to 999,Mitsubishi Electric Europe B.V.,False,05/04/2019 00:00:00,04/04/2019 08:48:04,FC,0,FC
6255,"MUFG BANK, LTD.","7-1 Marunouchi 2-Chome,\r\r\nChiyoda-Chu,\r\r\nTokyo 100,\r\r\nJapan,\r\r\nJapan",FC004549,NaN,32.9,30.3,65.5,56.3,79.0,74.7,...,https://www.mufgemea.com/inclusion/gender-pay-gap/,Masahiro Kuwahara (Regional Executive for EMEA),1000 to 4999,"MUFG BANK, LTD.",False,05/04/2019 00:00:00,29/03/2019 15:36:28,FC,0,FC
6343,NATIXIS,"Natixis Canon Bridge House,\r\r\n25 Dowgate Hill,\r\r\nLONDON,\r\r\nLONDON,\r\r\nUnited Kingdom,\r\r\nEC4R 2YA",FC022657,NaN,35.5,37.0,51.3,52.2,85.3,84.1,...,https://www.natixis.com/natixis/jcms/ala_5408/en/labor-relations,"Serge Ekue (Senior Country Manager, UK)",250 to 499,Natixis,False,05/04/2019 00:00:00,01/04/2019 16:25:16,EC4R 2YA,1,FC
6914,"PANASONIC UK, A BRANCH OF PANASONIC MARKETING EUROPE GMBH","Please Write To Panasonic House, Willoughby Road,\r\r\nBRACKNELL,\r\r\nBERKSHIRE,\r\r\nUnited Kingdom,\r\r\nRG12 8FP",FC030039,NaN,39.4,40.7,57.1,56.6,83.1,70.1,...,https://www.panasonic.com/uk/gender-pay-gap-reports.html,Simon Grantham (Managing Director),250 to 499,"Panasonic UK, A Branch Of Panasonic Marketing Europe Gmbh",False,05/04/2019 00:00:00,03/04/2019 16:58:20,RG12 8FP,1,FC
7645,"RICHMOND, THE AMERICAN INTERNATIONAL UNIVERSITY IN LONDON, INC.","2711 Centerville Road,\r\r\nSuite 400,\r\r\nWilmington Delaware,\r\r\n19808,\r\r\nUnited States",FC008955,NaN,17.4,17.1,NaN,NaN,0.0,0.0,...,https://www.richmond.ac.uk/gender-pay-gap-report/,Robert Wheeler (Vice President and Chief Operating Officer),Less than 250,"RICHMOND, THE AMERICAN INTERNATIONAL UNIVERSITY IN LONDON, INC.",False,05/04/2019 00:00:00,05/04/2019 14:02:55,FC,0,FC
8163,SHC CLEMSFOLD GROUP LIMITED,"1st Floor Kensington Chambers,\r\r\n46/50 Kensington Place,\r\r\nSt Helier,\r\r\nJersey,\r\r\nJE4 0ZE,\r\r\n437",FC032365,NaN,-7.0,-3.1,0.0,0.0,0.0,0.0,...,NaN,Steve Whittingham (Acting CEO),500 to 999,SHC CLEMSFOLD GROUP LIMITED,False,05/04/2019 00:00:00,08/03/2019 11:23:58,JE4 0ZE,1,FC
8164,SHC RAPKYNS GROUP LIMITED,"1st Floor Kensington Chambers,\r\r\n46/50 Kensington Place,\r\r\nSt Helier,\r\r\nJersey,\r\r\nJE4 0ZE,\r\r\n437",FC032364,NaN,1.9,-4.0,0.0,0.0,0.0,0.0,...,NaN,Steve Whittingham (Acting CEO),250 to 499,SHC RAPKYNS GROUP LIMITED,False,05/04/2019 00:00:00,08/03/2019 11:27:53,JE4 0ZE,1,FC
8347,SOCIETE GENERALE,"Refer,\r\r\nTo Parent State,\r\r\nFrance",FC000268,NaN,31.7,32.5,64.7,70.1,82.6,82.8,...,https://webadmin.societegenerale.com/fileadmin/user_upload/groupe_uk/PDF/UT2319_SG_GenPayGap_Report_2018.pdf,Sadia Ricke (UK Chief Country Officer),1000 to 4999,Societe Generale,False,05/04/2019 00:00:00,27/03/2019 16:42:49,FC,0,FC
8843,SVENSKA HANDELSBANKEN AB (PUBL),"Kungstradgardsgatan 2,\r\r\nS-106 70 Stockholm,\r\r\nSweden,\r\r\nSweden",FC014392,NaN,32.9,37.7,87.9,87.5,0.6,0.1,...,https://www.handelsbanken.co.uk/shb/inet/icentrb.nsf/vlookuppics/handelsbankenrb_aboutthegroup_2018_gender_pay_gap_supporting_statement/$file/2018_gender_pay_gap_supporting_statement.pdf,Bernie Charles (Chief Human Resource Officer),1000 to 4999,Svenska Handelsbanken Ab (Publ),False,05/04/2019 00:00:00,28/03/2019 12:39:04,FC,0,FC
9016,TECH MAHINDRA LIMITED,"Gateway Building, Apollo Bunder,\r\r\nMumbai,\r\r\nMaharashtra 400001,\r\r\nIndia",FC018895,NaN,11.7,2.6,39.4,34.7,60.0,42.0,...,NaN,JP Sahu (Head HR UK & Europe),1000 to 4999,TECH MAHINDRA LIMITED,False,05/04/2019 00:00:00,01/04/2019 16:36:25,FC,0,FC
9906,UBS AG,"Aeschenvorstadt 1,,\r\r\n4051 Basel,\r\r\nSwitzerland,\r\r\nSwitzerland",FC021146,64205,42.5,42.3,65.0,74.5,94.7,94.1,...,https://www.ubs.com/uk/en/gender-pay-report.html,Sabine Keller-Busse (Group Executive Board Member),1000 to 4999,UBS AG,False,05/04/2019 00:00:00,15/03/2019 09:52:50,FC,0,FC
9907,UBS BUSINESS SOLUTIONS AG,"45 Bahnhofstrasse,\r\r\nZurich,\r\r\nSwitzerland,\r\r\n8001",FC034139,NaN,12.7,14.3,25.8,9.1,89.0,92.1,...,https://www.ubs.com/uk/en/gender-pay-report.html,Sabine Keller-Busse (Group Executive Board Member),1000 to 4999,UBS BUSINESS SOLUTIONS AG,False,05/04/2019 00:00:00,15/03/2019 09:56:02,FC,0,FC
9935,UNICREDIT BANK AKTIENGESELLSCHAFT,"Moor House,\r\r\n120 London Wall,\r\r\nLONDON,\r\r\nLONDON,\r\r\nUnited Kingdom,\r\r\nEC2Y 5ET",FC009673,NaN,38.5,48.4,63.9,73.4,83.0,94.4,...,https://www.unicreditgroup.eu/en/unicredit-at-a-glance/diversity.html?topmenu=INT-TM_ABO1_en053,Christian Steffens (UK Country Head),250 to 499,Unicredit Bank Aktiengesellschaft,False,05/04/2019 00:00:00,29/03/2019 13:28:39,EC2Y 5ET,1,FC
10181,VISA EUROPE SERVICES LLC,"Corporation Trust Center,\r\r\n1209 Orange Street,\r\r\nWilmington,\r\r\nNew Castle, 19801 Delaware,\r\r\nUnited States",FC025276,NaN,12.0,13.9,23.1,20.4,89.0,85.5,...,https://www.visaeurope.com/about-us/diversity-inclusion/,Charlotte Hogg (Executive Vice President and CEO for Visa Europe),1000 to 4999,Visa Europe Services LLC,False,05/04/2019 00:00:00,03/04/2019 19:05:42,FC,0,FC

In [14]:
# list of companies being manually updated
manual_2018 = borig[borig['Post'].isnull()]['EmployerName'].tolist()

print(f'2018 manual list length: {len(manual_2018)}')

2018 manual list length: 23

In [15]:
borig[borig['Post'].isnull()][:5]

,EmployerName,Address,CompanyNumber,SicCodes,DiffMeanHourlyPercent,DiffMedianHourlyPercent,DiffMeanBonusPercent,DiffMedianBonusPercent,MaleBonusPercent,FemaleBonusPercent,...,CompanyLinkToGPGInfo,ResponsiblePerson,EmployerSize,CurrentName,SubmittedAfterTheDeadline,DueDate,DateSubmitted,Post,PostLen,Post2
56,AALCO METALS LIMITED,"Parkway House Unit 6, Parkway Industrial Estate,\r\r\nPacific Avenue,\r\r\nWednesbury,\r\r\nWest Midlands,\r\r\nEngland",03551533,46720,1.3,-7.0,29.1,-4.4,86.2,89.3,...,NaN,Morag Hale (Company Secretary),500 to 999,AALCO METALS LIMITED,False,05/04/2019 00:00:00,04/04/2019 16:55:48,None,0,None
634,ASHFORD AND ST. PETER'S HOSPITALS NHS FOUNDATION TRUST,"Guildford Road,\r\r\nChertsey,\r\r\nSurrey,\r\r\nKT16 OPZ",NaN,"1,\r\r\n86210",20.4,0.0,41.8,53.8,6.0,1.0,...,NaN,NaN,1000 to 4999,Ashford and St. Peter's Hospitals NHS Foundation Trust,False,31/03/2019 00:00:00,22/03/2019 13:37:33,None,0,None
1469,BUCKINGHAMSHIRE HEALTHCARE NHS TRUST,"Stoke Mandeville Hospital,\r\r\nMandeville Road,\r\r\nAylesbury,\r\r\nBuckinghamshire,\r\r\nHP 21 8AL",NaN,"1,\r\r\n86210",29.3,15.0,87.0,33.3,10.0,6.0,...,NaN,NaN,"5000 to 19,999",Buckinghamshire Healthcare NHS Trust,False,31/03/2019 00:00:00,29/03/2019 09:02:23,None,0,None
1500,BURNLEY COLLEGE,"Princess Way,\r\r\nBurnley,\r\r\nBB 12 0AN",NaN,1,7.8,9.5,100.0,100.0,0.5,0.0,...,https://www.burnley.ac.uk/Portals/0/pdfs/Governance/Burnley%20College%20Gender%20Pay%20Gap%20Report%202017-18.pdf?ver=2019-02-27-092022-723,NaN,500 to 999,Burnley College,False,31/03/2019 00:00:00,01/03/2019 08:11:38,None,0,None
1932,CHELMSFORD STAR CO-OPERATIVE SOCIETY LTD.,"220 Moulsham Street,\r\r\nChelmsford,\r\r\nEssex,\r\r\nUnited Kingdom,\r\r\nCM2 OLS",IP000973,47110,17.3,1.2,84.1,85.8,11.0,11.0,...,NaN,Ellen Tredwin (Secretary),500 to 999,Chelmsford Star Co-Operative Society Ltd.,False,05/04/2019 00:00:00,21/03/2019 12:52:36,None,0,None

In [16]:
borig.at[56, 'Post2'] = 'WS10 7WS'
borig.at[634, 'Post2'] = 'KT16 0PZ'
borig.at[1469, 'Post2'] = 'HP21 8AL'
borig.at[1500, 'Post2'] = 'BB12 0AN'
borig.at[1932, 'Post2'] = 'CM2 0LS'
borig.at[2413, 'Post2'] = 'Dublin 13'
borig.at[2590, 'Post2'] = 'W1D 1BS'
borig.at[2692, 'Post2'] = 'FC'
borig.at[2772, 'Post2'] = 'DT1 2JY'
borig.at[3470, 'Post2'] = 'FC'
borig.at[3913, 'Post2'] = 'EC2R 8DU'
borig.at[4417, 'Post2'] = 'SW1H 0NN'
borig.at[4661, 'Post2'] = 'NR6 6AQ'
borig.at[6447, 'Post2'] = 'E1 1BF'
borig.at[6597, 'Post2'] = 'EX31 4JB'
borig.at[7042, 'Post2'] = 'CV12 8NF'
borig.at[8043, 'Post2'] = 'G2 5AD'
borig.at[9177, 'Post2'] = 'SE1 7NQ'
borig.at[9526, 'Post2'] = 'S2 4SU'
borig.at[9585, 'Post2'] = 'SO23 9NA'
borig.at[10135, 'Post2'] = 'PR7 7NB'
borig.at[10559, 'Post2'] = 'SS0 9HR'
borig.at[10629, 'Post2'] = 'Dublin 13'

In [17]:
for i in range(len(borig)):
    
    if borig.iloc[i, 25] == None:
        if borig.iloc[i, 27] != None:
            borig.iloc[i, 25] = borig.iloc[i, 27]
            
borig[borig['Post'].isnull()]

Empty DataFrame
Columns: [EmployerName, Address, CompanyNumber, SicCodes, DiffMeanHourlyPercent, DiffMedianHourlyPercent, DiffMeanBonusPercent, DiffMedianBonusPercent, MaleBonusPercent, FemaleBonusPercent, MaleLowerQuartile, FemaleLowerQuartile, MaleLowerMiddleQuartile, FemaleLowerMiddleQuartile, MaleUpperMiddleQuartile, FemaleUpperMiddleQuartile, MaleTopQuartile, FemaleTopQuartile, CompanyLinkToGPGInfo, ResponsiblePerson, EmployerSize, CurrentName, SubmittedAfterTheDeadline, DueDate, DateSubmitted, Post, PostLen, Post2]
Index: []

[0 rows x 28 columns]

In [18]:
aorig[aorig['Post'].isnull()][:5]

,EmployerName,Address,CompanyNumber,SicCodes,DiffMeanHourlyPercent,DiffMedianHourlyPercent,DiffMeanBonusPercent,DiffMedianBonusPercent,MaleBonusPercent,FemaleBonusPercent,...,CompanyLinkToGPGInfo,ResponsiblePerson,EmployerSize,CurrentName,SubmittedAfterTheDeadline,DueDate,DateSubmitted,Post,PostLen,Post2
35,INGRAM MICRO SERVICES LTD,"Communications House,\r\r\nVulcan Road North,\r\r\nNorwich,\r\r\nNorfolk,\r\r\nUnited Kingdom",03591124,95210,21.7,11.4,76.7,-0.8,12.9,4.2,...,NaN,Kevin Coleman (Director - Commerce & Lifecycle Services),250 to 499,INGRAM MICRO SERVICES LTD,False,05/04/2018 00:00:00,03/04/2018 11:32:43,None,0,None
56,AALCO METALS LIMITED,"Parkway House Unit 6, Parkway Industrial Estate,\r\r\nPacific Avenue,\r\r\nWednesbury,\r\r\nWest Midlands,\r\r\nEngland",03551533,46720,1.3,-7.4,18.0,0.0,86.5,82.0,...,NaN,Morag Hale (Company Secretary),500 to 999,AALCO METALS LIMITED,False,05/04/2018 00:00:00,04/04/2018 09:06:29,None,0,None
601,ASHFORD AND ST. PETER'S HOSPITALS NHS FOUNDATION TRUST,"Guildford Road,\r\r\nChertsey,\r\r\nSurrey,\r\r\nKT16 OPZ",NaN,1,22.5,2.8,44.6,66.7,6.0,1.0,...,NaN,NaN,1000 to 4999,Ashford and St. Peter's Hospitals NHS Foundation Trust,False,31/03/2018 00:00:00,29/03/2018 18:46:00,None,0,None
1413,BUCKINGHAMSHIRE HEALTHCARE NHS TRUST,"Stoke Mandeville Hospital,\r\r\nMandeville Road,\r\r\nAylesbury,\r\r\nBuckinghamshire,\r\r\nHP 21 8AL",NaN,"1,\r\r\n86210",29.6,12.1,31.2,0.1,7.0,1.0,...,http://www.buckshealthcare.nhs.uk/Downloads/Equality-and-diversity-annual-reports-and-key-documents/GENDER%20PAY%20GAP%20REPORTS/BHT%202017%20Gender%20Pay%20Gap%20Report.pdf,NaN,"5000 to 19,999",Buckinghamshire Healthcare NHS Trust,False,31/03/2018 00:00:00,29/03/2018 12:58:34,None,0,None
1446,BURNLEY COLLEGE,"Princess Way,\r\r\nBurnley,\r\r\nBB 12 0AN",NaN,1,6.5,9.5,100.0,100.0,0.4,0.0,...,NaN,NaN,500 to 999,Burnley College,False,31/03/2018 00:00:00,27/03/2018 16:57:25,None,0,None

In [19]:
for i in manual_2018:
    
    if i in aorig.EmployerName.tolist():
        if aorig[aorig.EmployerName == i].Post.item() == None:
            aorig.at[aorig[aorig.EmployerName == i].index.item(), 'Post'] = borig[borig.EmployerName == i].Post.item()
            
aorig[aorig['Post'].isnull()]

,EmployerName,Address,CompanyNumber,SicCodes,DiffMeanHourlyPercent,DiffMedianHourlyPercent,DiffMeanBonusPercent,DiffMedianBonusPercent,MaleBonusPercent,FemaleBonusPercent,...,CompanyLinkToGPGInfo,ResponsiblePerson,EmployerSize,CurrentName,SubmittedAfterTheDeadline,DueDate,DateSubmitted,Post,PostLen,Post2
1916,CHILTERN DISTRICT COUNCIL,"King George V House,\r\r\nKing George V Road,\r\r\nAmersham,\r\r\nHP6 5 AW",NaN,1,15.0,21.9,0.0,0.0,0.0,0.0,...,http://www.chiltern.gov.uk/,NaN,250 to 499,Chiltern District Council,False,31/03/2018 00:00:00,12/02/2018 16:53:54,None,0,None
1996,CITY OF WOLVERHAMPTON ACADEMY TRUST,"Room Pa 108 Wolverhampton Science Park,\r\r\nGlaisher Drive,\r\r\nWolverhampton,\r\r\nWest Midlands,\r\r\nEngland",06969900,"1,\r\r\n85310",13.8,16.5,0.0,0.0,0.0,0.0,...,NaN,NaN,250 to 499,City Of Wolverhampton Academy Trust,False,31/03/2018 00:00:00,29/03/2018 16:46:13,None,0,None
5034,KINGSTOWN FURNITURE LIMITED,"Leonard Curtis,\r\r\n36 Park Row,\r\r\nLeeds,\r\r\nUnited Kingdom,\r\r\nLS 5GL",01357817,31090,-3.4,-7.4,6.6,5.0,1.4,2.3,...,http://www.kingstown.co.uk/,Peter Connor (Finance Director),250 to 499,KINGSTOWN FURNITURE LIMITED,False,05/04/2018 00:00:00,03/04/2018 14:22:23,None,0,None
6911,PEROS LIMITED,"The Roastery Bent Ley Industrial Estate,\r\r\nMeltham,\r\r\nHolmfirth,\r\r\nEngland",04022650,46370,13.0,18.0,65.0,37.0,31.0,59.0,...,NaN,Eve West (Human Resources Manager),Less than 250,BEWLEY'S TEA AND COFFEE UK LIMITED,False,05/04/2018 00:00:00,27/03/2018 15:42:47,None,0,None
7079,POUNDWORLD RETAIL LIMITED,"Hill House,\r\r\n1 Little New Street,\r\r\nLondon,\r\r\nEngland,\r\r\n3C4A 3TR",02215564,47190,10.2,0.0,57.4,29.4,2.0,1.8,...,https://www.poundworld.co.uk,Elizabeth McDonald (Company Secretary),"5000 to 19,999",POUNDWORLD RETAIL LIMITED,False,05/04/2018 00:00:00,19/03/2018 17:10:52,None,0,None

In [20]:
aorig.at[1916, 'Post'] = 'HP6 5AW'
aorig.at[1996, 'Post'] = 'WV10 9TG'
aorig.at[5034, 'Post'] = 'LS1 5JL'
aorig.at[6911, 'Post'] = 'HD9 4EP'
aorig.at[7079, 'Post'] = 'EC4A 3TR'

aorig[aorig['Post'].isnull()]

Empty DataFrame
Columns: [EmployerName, Address, CompanyNumber, SicCodes, DiffMeanHourlyPercent, DiffMedianHourlyPercent, DiffMeanBonusPercent, DiffMedianBonusPercent, MaleBonusPercent, FemaleBonusPercent, MaleLowerQuartile, FemaleLowerQuartile, MaleLowerMiddleQuartile, FemaleLowerMiddleQuartile, MaleUpperMiddleQuartile, FemaleUpperMiddleQuartile, MaleTopQuartile, FemaleTopQuartile, CompanyLinkToGPGInfo, ResponsiblePerson, EmployerSize, CurrentName, SubmittedAfterTheDeadline, DueDate, DateSubmitted, Post, PostLen, Post2]
Index: []

[0 rows x 28 columns]

## Validation

In [21]:
postmin = pd.read_csv('postcode_min.csv', header=0, index_col=0)

print(postmin.shape)
postmin.head()

C:\Users\liamk\Anaconda3\lib\site-packages\numpy\lib\arraysetops.py:472: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

(2615669, 8)

,Postcode,County,District,Ward,Latitude,Longitude,LSOA Code,MSOA Code
0,AB1 0AA,NaN,Aberdeen City,Lower Deeside,57.101474,-2.242851,S01006514,S02001237
1,AB1 0AB,NaN,Aberdeen City,Lower Deeside,57.102554,-2.246308,S01006514,S02001237
2,AB1 0AD,NaN,Aberdeen City,Lower Deeside,57.100556,-2.248342,S01006514,S02001237
3,AB1 0AE,NaN,Aberdeenshire,North Kincardine,57.084444,-2.255708,S01006853,S02001296
4,AB1 0AF,NaN,Aberdeen City,Lower Deeside,57.096656,-2.258102,S01006511,S02001236

In [22]:
def post_val(x):
    return x in postmin.Postcode.tolist()

In [23]:
%%time

borig['Val'] = borig['Post'].apply(post_val)

borig['Val'].value_counts()

Wall time: 15min 54s

In [24]:
%%time

aorig['Val'] = aorig['Post'].apply(post_val)

aorig['Val'].value_counts()

Wall time: 16min 6s

In [25]:
borig[(borig['Val'] == False) & (borig['Post2'] != 'FC')]

,EmployerName,Address,CompanyNumber,SicCodes,DiffMeanHourlyPercent,DiffMedianHourlyPercent,DiffMeanBonusPercent,DiffMedianBonusPercent,MaleBonusPercent,FemaleBonusPercent,...,ResponsiblePerson,EmployerSize,CurrentName,SubmittedAfterTheDeadline,DueDate,DateSubmitted,Post,PostLen,Post2,Val
96,ABINGDON FLOORING LIMITED,"Parkway,\r\r\nPen Y Fan Industrial Estate,\r\r\nCroespenmaen Crumlin,\r\r\nNewport,\r\r\nUnited Kingdom,\r\r\nNP11 4XG",04923718,13939,16.1,8.6,21.2,-8.0,94.2,87.5,...,Steve Byrne (Managing Director),250 to 499,ABINGDON FLOORING LIMITED,False,05/04/2019 00:00:00,14/03/2019 15:06:00,NP11 4XG,1,None,False
2413,CREWLINK IRELAND LIMITED,"19 Grange Parade,\r\r\nBaldoyle Industrial Estate,\r\r\nBaldoyle,\r\r\nDublin 13",NaN,78109,8.0,-3.0,7.0,-10.0,95.0,87.0,...,Judy Byrne (HR Director),500 to 999,Crewlink Ireland Limited,False,05/04/2019 00:00:00,03/04/2019 17:25:01,Dublin 13,0,Dublin 13,False
2530,DANDARA LIMITED,"Dandara Group Head Office,\r\r\nIsle of Man Business Park,\r\r\nCooil Road, Douglas, Isle of Man,\r\r\nIM2 2SA",NaN,"41201,\r\r\n41202",19.4,29.6,14.0,19.1,66.0,79.7,...,Peter Cowin (Finance Director),250 to 499,Dandara Limited,True,05/04/2019 00:00:00,09/04/2019 10:04:21,IM2 2SA,1,None,False
2858,DUNRAVEN MANUFACTURING LIMITED,"39b Village Farm Ind. Est.,\r\r\nPyle,\r\r\nMid Glam.,\r\r\nCF34 6NU",02543224,32990,2.0,2.7,1.1,9.4,92.0,83.0,...,Matthew Brace (Director),250 to 499,DUNRAVEN MANUFACTURING LIMITED,False,05/04/2019 00:00:00,02/04/2019 17:14:22,CF34 6NU,1,None,False
3244,EXACT PAYROLL LIMITED,"4a, Mariners Way,\r\r\nFelnex Industrial Estate,\r\r\nNewport,\r\r\nUnited Kingdom,\r\r\nNP10 4PQ",08930282,69202,14.1,4.6,NaN,NaN,0.0,0.0,...,Christopher Pryce (Director),500 to 999,EXACT PAYROLL LIMITED,True,05/04/2019 00:00:00,22/05/2019 14:30:30,NP10 4PQ,1,None,False
8465,SOUTHERN TYRE CO LIMITED,"Unit 7 Hackhurst Lane,\r\r\nHackhurst Industrial Estate,\r\r\nLower Dicker Hailsham,\r\r\nEast Sussex,\r\r\nUnited Kingdom,\r\r\nBN27 4BR",00615334,"45310,\r\r\n45320",-4.7,-5.3,44.6,-10.4,89.3,46.1,...,Julian Sattin (Director),250 to 499,SOUTHERN TYRE CO LIMITED,False,05/04/2019 00:00:00,28/03/2019 15:33:13,BN27 4BR,1,None,False
8666,STAN ROBINSON (STAFFORD) LIMITED,"Stan Robinson Ladford Fields,\r\r\nSeighford,\r\r\nStafford,\r\r\nUnited Kingdom,\r\r\nST18 7QE",02607362,49410,-7.2,-19.4,63.2,20.0,99.0,100.0,...,Pauline Wilson (Finance Director),250 to 499,STAN ROBINSON (STAFFORD) LIMITED,False,05/04/2019 00:00:00,08/02/2019 09:55:52,ST18 7QE,1,None,False
8940,TAI TARIAN LIMITED,"Ty Gwyn Brunel Way,\r\r\nBaglan Energy Park,\r\r\nNeath,\r\r\nNeath Port Talbot,\r\r\nUnited Kingdom,\r\r\nSA11 2FB",IP031041,NaN,-1.0,0.0,NaN,NaN,0.0,0.0,...,Linda Whittaker (Chief Executive),500 to 999,TAI TARIAN LIMITED,False,05/04/2019 00:00:00,03/04/2019 14:34:32,SA11 2FB,1,None,False
9204,THE COMMISSION FOR EQUALITY AND HUMAN RIGHTS,"Arndale House,\r\r\nThe Arndale Centre,\r\r\nManchester,\r\r\nM43AQ",NaN,"1,\r\r\n84110",-1.1,-3.0,1.4,-0.4,73.8,66.4,...,NaN,Less than 250,The Commission for Equality and Human Rights,False,31/03/2019 00:00:00,29/03/2019 15:30:12,M43 AQ,0,None,False
10629,WORKFORCE INTERNATIONAL CONTRACTORS LIMITED,"19 Grange Parade,\r\r\nBaldoyle Industrial Estate,\r\r\nBaldoyle,\r\r\nDublin 13",NaN,78109,-0.8,-0.6,1.8,-2.1,100.0,99.5,...,Andrew Swan (Director),250 to 499,Workforce International Contractors Limited,False,05/04/2019 00:00:00,03/04/2019 17:29:20,Dublin 13,0,Dublin 13,False

In [33]:
borig.at[96, 'Post'] = 'NP11 4EG'
borig.at[2858, 'Post'] = 'CF33 6NU'
borig.at[3244, 'Post'] = 'NP19 4PQ'
borig.at[8465, 'Post'] = 'BN27 4BW'
borig.at[8666, 'Post'] = 'ST18 9QE'
borig.at[8940, 'Post'] = 'SA11 2FP'
borig.at[9204, 'Post'] = 'M4 3AG'

borig.at[96, 'Val'] = True
borig.at[2858, 'Val'] = True
borig.at[3244, 'Val'] = True
borig.at[8465, 'Val'] = True
borig.at[8666, 'Val'] = True
borig.at[8940, 'Val'] = True
borig.at[9204, 'Val'] = True

In [37]:
for i in range(len(borig)):
    
    if borig.iloc[i, 27] == 'FC':
        borig.iloc[i, 25] = 'FC'
            
borig[(borig['Val'] == False) & (borig['Post2'] != 'FC')]

,EmployerName,Address,CompanyNumber,SicCodes,DiffMeanHourlyPercent,DiffMedianHourlyPercent,DiffMeanBonusPercent,DiffMedianBonusPercent,MaleBonusPercent,FemaleBonusPercent,...,ResponsiblePerson,EmployerSize,CurrentName,SubmittedAfterTheDeadline,DueDate,DateSubmitted,Post,PostLen,Post2,Val
2413,CREWLINK IRELAND LIMITED,"19 Grange Parade,\r\r\nBaldoyle Industrial Estate,\r\r\nBaldoyle,\r\r\nDublin 13",NaN,78109,8.0,-3.0,7.0,-10.0,95.0,87.0,...,Judy Byrne (HR Director),500 to 999,Crewlink Ireland Limited,False,05/04/2019 00:00:00,03/04/2019 17:25:01,Dublin 13,0,Dublin 13,False
2530,DANDARA LIMITED,"Dandara Group Head Office,\r\r\nIsle of Man Business Park,\r\r\nCooil Road, Douglas, Isle of Man,\r\r\nIM2 2SA",NaN,"41201,\r\r\n41202",19.4,29.6,14.0,19.1,66.0,79.7,...,Peter Cowin (Finance Director),250 to 499,Dandara Limited,True,05/04/2019 00:00:00,09/04/2019 10:04:21,IM2 2SA,1,None,False
10629,WORKFORCE INTERNATIONAL CONTRACTORS LIMITED,"19 Grange Parade,\r\r\nBaldoyle Industrial Estate,\r\r\nBaldoyle,\r\r\nDublin 13",NaN,78109,-0.8,-0.6,1.8,-2.1,100.0,99.5,...,Andrew Swan (Director),250 to 499,Workforce International Contractors Limited,False,05/04/2019 00:00:00,03/04/2019 17:29:20,Dublin 13,0,Dublin 13,False

In [40]:
for i in range(len(aorig)):
    
    if aorig.iloc[i, 27] == 'FC':
        aorig.iloc[i, 25] = 'FC'

In [26]:
aorig[(aorig['Val'] == False) & (aorig['Post2'] != 'FC')]

,EmployerName,Address,CompanyNumber,SicCodes,DiffMeanHourlyPercent,DiffMedianHourlyPercent,DiffMeanBonusPercent,DiffMedianBonusPercent,MaleBonusPercent,FemaleBonusPercent,...,ResponsiblePerson,EmployerSize,CurrentName,SubmittedAfterTheDeadline,DueDate,DateSubmitted,Post,PostLen,Post2,Val
95,ABINGDON FLOORING LIMITED,"Parkway,\r\r\nPen Y Fan Industrial Estate,\r\r\nCroespenmaen Crumlin,\r\r\nNewport,\r\r\nUnited Kingdom,\r\r\nNP11 4XG",04923718,13939,11.3,6.8,17.1,-19.1,96.9,98.4,...,Jim Taylor (Managing Director),250 to 499,ABINGDON FLOORING LIMITED,False,05/04/2018 00:00:00,26/02/2018 09:57:28,NP11 4XG,1,None,False
2343,CREWLINK IRELAND LIMITED,"19 Grange Parade,\r\r\nBaldoyle Industrial Estate,\r\r\nBaldoyle,\r\r\nDublin 13",NaN,78109,8.7,-2.6,16.2,8.0,86.2,82.4,...,Judy Byrne (Director),1000 to 4999,Crewlink Ireland Limited,False,05/04/2018 00:00:00,04/04/2018 14:44:07,Dublin 13,0,None,False
2452,DANDARA LIMITED,"Dandara Group Head Office,\r\r\nIsle of Man Business Park,\r\r\nCooil Road, Douglas, Isle of Man,\r\r\nIM2 2SA",NaN,"41201,\r\r\n41202",22.7,28.0,-1.0,33.1,60.1,88.1,...,Peter Cowin (Finance Director),250 to 499,Dandara Limited,True,05/04/2018 00:00:00,22/06/2018 14:31:30,IM2 2SA,1,None,False
2610,DIAMOND OFFSHORE (BERMUDA) LTD,"Clarendon House 2 Church Street,\r\r\nHamilton,\r\r\nBermuda,\r\r\nHM 11",NaN,9100,11.0,3.2,100.0,100.0,42.3,0.0,...,Jane Munoz (Director - Global HR & Rewards),250 to 499,Diamond Offshore (Bermuda) Ltd,False,05/04/2018 00:00:00,04/04/2018 13:38:51,FC,0,None,False
2772,DUNRAVEN MANUFACTURING LIMITED,"39b Village Farm Ind. Est.,\r\r\nPyle,\r\r\nMid Glam.,\r\r\nCF34 6NU",02543224,32990,9.4,0.1,22.0,60.0,72.0,70.0,...,Matthew Brace (Director),250 to 499,DUNRAVEN MANUFACTURING LIMITED,False,05/04/2018 00:00:00,03/04/2018 14:56:52,CF34 6NU,1,None,False
3363,FLEET MARITIME SERVICES INTERNATIONAL LIMITED,"3rd Floor,\r\r\nPar La Ville Place,\r\r\nPar La Ville Road,\r\r\nHamilton,\r\r\nBermuda,\r\r\nHMJX",NaN,78300,8.1,12.8,-0.8,-12.4,50.6,60.9,...,Edward Jones (Chief Financial Officer),1000 to 4999,Fleet Maritime Services International Limited,False,05/04/2018 00:00:00,29/03/2018 14:20:17,FC,0,None,False
8290,SOUTHERN TYRE CO LIMITED,"Unit 7 Hackhurst Lane,\r\r\nHackhurst Industrial Estate,\r\r\nLower Dicker Hailsham,\r\r\nEast Sussex,\r\r\nUnited Kingdom,\r\r\nBN27 4BR",00615334,"45310,\r\r\n45320",-8.8,-9.5,30.2,-100.7,77.2,26.7,...,Julian Sattin (Director),250 to 499,SOUTHERN TYRE CO LIMITED,True,05/04/2018 00:00:00,28/03/2019 15:39:28,BN27 4BR,1,None,False
8479,STAN ROBINSON (STAFFORD) LIMITED,"Stan Robinson Ladford Fields,\r\r\nSeighford,\r\r\nStafford,\r\r\nUnited Kingdom,\r\r\nST18 7QE",02607362,49410,-8.4,-13.6,52.4,41.7,97.2,100.0,...,Pauline Wilson (Finance Director),250 to 499,STAN ROBINSON (STAFFORD) LIMITED,False,05/04/2018 00:00:00,15/03/2018 16:30:56,ST18 7QE,1,None,False
8742,TAI TARIAN LIMITED,"Ty Gwyn Brunel Way,\r\r\nBaglan Energy Park,\r\r\nNeath,\r\r\nNeath Port Talbot,\r\r\nUnited Kingdom,\r\r\nSA11 2FB",IP031041,NaN,3.2,0.0,0.0,0.0,0.0,0.0,...,Linda Whittaker (Chief Executive),250 to 499,TAI TARIAN LIMITED,False,05/04/2018 00:00:00,04/04/2018 13:36:15,SA11 2FB,1,None,False
9005,THE COMMISSION FOR EQUALITY AND HUMAN RIGHTS,"Arndale House,\r\r\nThe Arndale Centre,\r\r\nManchester,\r\r\nM43AQ",NaN,1,-7.5,-8.2,8.6,0.0,90.3,94.0,...,NaN,Less than 250,The Commission for Equality and Human Rights,False,31/03/2018 00:00:00,18/08/2017 16:00:11,M43 AQ,0,None,False

In [41]:
aorig.at[95, 'Post'] = 'NP11 4EG' 
aorig.at[2610, 'Post'] = 'FC'
aorig.at[2772, 'Post'] = 'CF33 6NU'
aorig.at[3363, 'Post'] = 'FC'
aorig.at[8290, 'Post'] = 'BN27 4BW'
aorig.at[8479, 'Post'] = 'ST18 9QE'
aorig.at[8742, 'Post'] = 'SA11 2FP'
aorig.at[9005, 'Post'] = 'M4 3AG'

aorig.at[95, 'Val'] = True
aorig.at[2772, 'Val'] = True
aorig.at[8290, 'Val'] = True
aorig.at[8479, 'Val'] = True
aorig.at[8742, 'Val'] = True
aorig.at[9005, 'Val'] = True

In [42]:
aorig[(aorig['Val'] == False) & (aorig['Post2'] != 'FC')]

,EmployerName,Address,CompanyNumber,SicCodes,DiffMeanHourlyPercent,DiffMedianHourlyPercent,DiffMeanBonusPercent,DiffMedianBonusPercent,MaleBonusPercent,FemaleBonusPercent,...,ResponsiblePerson,EmployerSize,CurrentName,SubmittedAfterTheDeadline,DueDate,DateSubmitted,Post,PostLen,Post2,Val
2343,CREWLINK IRELAND LIMITED,"19 Grange Parade,\r\r\nBaldoyle Industrial Estate,\r\r\nBaldoyle,\r\r\nDublin 13",NaN,78109,8.7,-2.6,16.2,8.0,86.2,82.4,...,Judy Byrne (Director),1000 to 4999,Crewlink Ireland Limited,False,05/04/2018 00:00:00,04/04/2018 14:44:07,Dublin 13,0,None,False
2452,DANDARA LIMITED,"Dandara Group Head Office,\r\r\nIsle of Man Business Park,\r\r\nCooil Road, Douglas, Isle of Man,\r\r\nIM2 2SA",NaN,"41201,\r\r\n41202",22.7,28.0,-1.0,33.1,60.1,88.1,...,Peter Cowin (Finance Director),250 to 499,Dandara Limited,True,05/04/2018 00:00:00,22/06/2018 14:31:30,IM2 2SA,1,None,False
2610,DIAMOND OFFSHORE (BERMUDA) LTD,"Clarendon House 2 Church Street,\r\r\nHamilton,\r\r\nBermuda,\r\r\nHM 11",NaN,9100,11.0,3.2,100.0,100.0,42.3,0.0,...,Jane Munoz (Director - Global HR & Rewards),250 to 499,Diamond Offshore (Bermuda) Ltd,False,05/04/2018 00:00:00,04/04/2018 13:38:51,FC,0,None,False
3363,FLEET MARITIME SERVICES INTERNATIONAL LIMITED,"3rd Floor,\r\r\nPar La Ville Place,\r\r\nPar La Ville Road,\r\r\nHamilton,\r\r\nBermuda,\r\r\nHMJX",NaN,78300,8.1,12.8,-0.8,-12.4,50.6,60.9,...,Edward Jones (Chief Financial Officer),1000 to 4999,Fleet Maritime Services International Limited,False,05/04/2018 00:00:00,29/03/2018 14:20:17,FC,0,None,False

In [45]:
aorig.drop(columns=['PostLen', 'Post2'], inplace=True)
borig.drop(columns=['PostLen', 'Post2'], inplace=True)

aorig.head()

,EmployerName,Address,CompanyNumber,SicCodes,DiffMeanHourlyPercent,DiffMedianHourlyPercent,DiffMeanBonusPercent,DiffMedianBonusPercent,MaleBonusPercent,FemaleBonusPercent,...,FemaleTopQuartile,CompanyLinkToGPGInfo,ResponsiblePerson,EmployerSize,CurrentName,SubmittedAfterTheDeadline,DueDate,DateSubmitted,Post,Val
0,"BRYANSTON SCHOOL,INCORPORATED","Bryanston House,\r\r\nBlandford,\r\r\nDorset,\r\r\nUnited Kingdom,\r\r\nDT11 0PX",00226143,85310,18.0,28.2,0.0,0.0,0.0,0.0,...,48.5,https://www.bryanston.co.uk/employment,Nick McRobb (Bursar and Clerk to the Governors),500 to 999,"""Bryanston School"",Incorporated",False,05/04/2018 00:00:00,27/03/2018 11:42:49,DT11 0PX,True
1,"RED BAND CHEMICAL COMPANY, LIMITED","19 Smith's Place,\r\r\nLeith Walk,\r\r\nEdinburgh,\r\r\nEH6 8NU",SC016876,47730,2.3,-2.7,15.0,37.5,15.6,66.7,...,81.9,NaN,Philip Galt (Managing Director),250 to 499,"""RED BAND"" CHEMICAL COMPANY, LIMITED",False,05/04/2018 00:00:00,28/03/2018 16:44:25,EH6 8NU,True
2,118 LIMITED,"Fusion Point,\r\r\nDumballs Road,\r\r\nCardiff,\r\r\nUnited Kingdom,\r\r\nCF10 5BF",03951948,61900,1.7,2.8,13.1,13.6,70.0,57.0,...,42.0,NaN,"Emma Crowe (VP, Human Resources)",500 to 999,118 LIMITED,False,05/04/2018 00:00:00,27/03/2018 19:10:41,CF10 5BF,True
3,123 EMPLOYEES LTD,"34 Roundhay Road,\r\r\nLeeds,\r\r\nEngland,\r\r\nLS7 1AB",10530651,78300,41.0,36.0,-69.8,-157.2,50.0,73.5,...,77.0,NaN,Chloe Lines (Financial Controller),250 to 499,123 EMPLOYEES LTD,True,05/04/2018 00:00:00,04/05/2018 11:24:06,LS7 1AB,True
4,1610 LIMITED,"Hestercombe House,\r\r\nCheddon Fitzpaine,\r\r\nTaunton,\r\r\nSomerset,\r\r\nUnited Kingdom,\r\r\nTA2 8LG",06727055,93110,-22.0,-34.0,-47.0,-67.0,25.0,75.0,...,76.0,https://www.1610.org.uk/gender-pay-gap/,Tim Nightingale (CEO),250 to 499,1610 LIMITED,True,05/04/2018 00:00:00,12/04/2018 17:03:26,TA2 8LG,True

In [48]:
# aorig.to_csv('2017clean2.csv')
# borig.to_csv('2018clean2.csv')

In [ ]:
# continued in pt 03.4